@import "reset";
@import "mixins";
@import "header";
@import "libs/slick";

.conteiner-content {
    height: 100vh;
    padding-top: 70px;
    @media (min-width: 992px) {
        padding: 95px 15px 15px;
    }
}

.content,
.error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.thanks-bg {
    @media (min-width: 1200px) {
        background: no-repeat right center/cover;
    }

    @media (max-width: 1199px) {
        background: none !important;
    }

}

.error-bg {
    @media (min-width: 1200px) {
        background: no-repeat right center/cover;
    }

    @media (max-width: 1199px) {
        background: none !important;
    }
}

.content-title {
    font-weight: bold;
    font-size: $bigger;
    line-height: 160%;
    margin-bottom: 10px;
    padding: 0 30px 0 25px;
    @media (min-width: 992px) {
        font-size: $block-headline;
        margin-bottom: 0;
    }
}

.error-title {
    font-weight: bold;
    font-size: $big;
    line-height: 160%;
    padding: 0 30px 0 25px;
    margin-bottom: 11px;
    @media (min-width: 992px) {
        font-size: 36px;
    }
}


.content-descr,
.error-descr {
    font-size: 16px;
    line-height: 160%;
    color: $text-description-color;
    margin-bottom: 20px;
    padding: 0 15px;
}

.content-link {
    margin-bottom: 27%;

    @media (min-width: 992px) {
        margin-bottom: 6%;
    }
}