.cookies-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.cookies {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px 23px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        padding: 23px 40px;
    }

    &__close {
        @include btn-base;
        position: absolute;
        right: 13px;
        top: 13px;
    }

    &__content {

        @media (min-width: 768px) {
           margin-right: 25px;
        }
    }

    &__title {
        padding-right: 10px;
        display: block;
        font-size: 16px;
        color: #444444;
    }

    &__descr {
        font-size: 14px;
        line-height: 150%;
        color: #444444;
        letter-spacing: -0.1px;
        margin-bottom: 10px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__agree,
    &__more {
        font-weight: bold;
        font-size: 14px;
        line-height: 160%;
        padding: 14px 19px;
        min-width: 80px;
    }
}