@import 'mixins';
@import 'icons';

.footer-container {
  color: $white;
  padding: 37px 35px 11px;

  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    padding: 43px 115px 56px 67px;
    position: relative;
  }
}

.mobile-none {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}

.footer {
  background-color: $block-headline-color;

  .footer-logo {
    display: block;
    max-height: 24px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 40px;

    @media (min-width: 992px) {
      margin: 0;
      margin-bottom: 40px;
    }
  }

  .networks-list {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  .networks-item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer-icon {
    color: #666;
    font-size: 27px;
    transition: $transition;

    &:hover {
      color: #fff;
    }
  }
}

.footer-call {
  margin-bottom: 40px;
  margin-left: 5px;

  @media (min-width: 992px) {
    margin-bottom: 0;
    margin-left: 77px;
  }
}

.footer-call-title {
  display: block;
  font-size: $pop-up-headline-mobile;
  line-height: 23px;
  font-weight: normal;
  margin-bottom: 14px;

  @media (min-width: 992px) {
    margin-bottom: 4px;
  }
}

.footer-number {
  margin-bottom: 20px;

  @media (min-width: 992px) {
    display: flex;
  }

  .footer-number-descr {
    color: $not-active-color;
    font-size: $small;
    line-height: 18px;
    max-width: 215px;
    margin-bottom: 10px;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }

  .footer-number-item {
    font-size: $pop-up-headline-mobile;
    line-height: 21px;
    color: $white;
  }
}

.contact {
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: $small;
  color: $white;
  text-transform: uppercase;
  border: 1px solid $white;
  transition: $transition;
  line-height: 22px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $black;
  }

  @media (min-width: 992px) {
    padding: 14px 26px;
  }
}

.footer-links {
  text-align: center;

  @media (min-width: 1200px) {
    display: flex;
    text-align: left;
  }
}

.footer-links-list {
  white-space: nowrap;

  .footer-links-item {
    margin-bottom: 30px;
    position: relative;

    @media (min-width: 1200px) {
      font-size: $small;
      margin-bottom: 17px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        margin-top: 5px;
        width: 20px;
        height: 1px;
        background-color: $active-star;
        transition: 0.2s all;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }

    a {
      color: $white;
      font-weight: bold;
      font-size: $normal;
      line-height: 18px;
      white-space: initial;

      @media (min-width: 1200px) {
        font-size: $smaller;
        line-height: 14px;
      }
    }
  }
}

.footer-links-list:last-child {
  @media (min-width: 1200px) {
    margin-left: 90px;
  }
}

.footer-сopyright {
  display: flex;
  justify-content: space-between;
  color: $white;
  text-align: center;
  border-top: 1px solid #323232;
  padding: 6px 15px;
  color: $not-active-color;
  font-size: $smaller;
  line-height: 16px;
}

.copyright-img img {
  width: 90px;
}

@media (max-width: 767px) {
  .footer-сopyright {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }

  .copyright-img {
    margin-top: 10px;
  } 
}

.card-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0 46px;

  @media (min-width: 1200px) {
    justify-content: flex-end;
  }

  .master-logo {
    margin-right: 11px;
    width: 30px;

    @media (min-width: 1200px) {
      width: 50px;
    }
  }

  .visa-logo {
    width: 60px;

    @media (min-width: 1200px) {
      width: 88px;
      margin-bottom: 8px;
    }
  }
}
