@import "mixins";

.form-inputs-row {

    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }
}

.form-inputs-wrap {
    position: relative;
    width: 100%;

    @media (min-width: 992px) {
        width: 49%;
        max-width: 427px;
    }
    @media (min-width: 1430px) {
        width: 50%;
    }

    .input-label {
        display: none;
        font-weight: normal;
        font-size: 10px;
        line-height: 160%;
        color: $not-active-color;
        position: absolute;
        top: 0;
    }

    .input-item:focus+.input-label {
        display: block;
    }

    .input-item:focus {
        border: none;
        border-bottom: 1px solid #666666;

        &::placeholder {
            color: transparent;
        }
    }

    .input-item {
        width: 100%;
        padding: 14px 15px;
        max-height: 52px;
        font-size: $small;
        line-height: 23px;
        color: $block-headline-color;
        border: 1px solid $input-border;
        margin-bottom: 5px;

        @media (min-width: 992px) {
            margin-bottom: 20px;
        }

        &::placeholder {
            color: $not-active-color;
        }
    }
}

.build-wrap {
    width: 49%;

    @media (min-width: 1200px) {
        width: 54%;
    }
}

.flat-wrap {
    width: 49%;

    @media (min-width: 1200px) {
        width: 42%;
    }
}

.number-input-wrap {
    display: flex;
    justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

//--------------  Form dropdowns  ---------------

.form-dropdown {
    font-size: $small;
    line-height: 22px;
    width: 100%;
    margin-bottom: 5px;

    @media (min-width: 992px) {
        width: 49%;
        margin-bottom: 20px;
        max-width: 427px;
    }
    @media (min-width: 1430px) {
        width: 50%;
    }
}

.dropdown-list {
    width: 100%;
    border: 1px solid $input-border;
    display: block;
    cursor: pointer;
    position: relative;
    padding: 15px 10px 15px 14px;
    max-height: 52px;

    .dropdown-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $not-active-color;

        .icon-angle-right {
            font-size: 17px;
        }

        input.selected {
            width: 100%;
            cursor: pointer;
            border: none;
            font-size: $small;
            line-height: 22px;
            color: $block-headline-color;
            background-color: transparent;
        }

        span {
            transition: $transition;
            color: $block-headline-color;
        }
    }

    .sub_menu {
        display: none;
        width: 100%;
        background-color: $white;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
        position: absolute;
        z-index: 10;
        left: 0;
        top: 56px;
        max-height: 183px;
        overflow-y: scroll;
        scroll-margin: 20px;

        &::-webkit-scrollbar {
            /* 1 - скроллбар */
            width: 4px;
            background: #fff;
        }

        &::-webkit-scrollbar-thumb {
            /* 5 - ползунок */
            background: #C8C8C8;
            border-radius: 5px;
        }

        .list-item {
            @include btn-base;
            width: 100%;
            text-align: left;
            padding: 7px 15px;
            z-index: 10;
            transition: $transition;

            &:hover {
                background-color: $block-headline-color;
                color: $white;
            }
        }
    }
}

.active-dropdown {
    transform: rotate(90deg);
}

.submit-form {
    width: 100%;
    margin-top: 10px;

    @media (min-width: 992px) {
        width: auto;
        margin-top: 0;
    }
}
