@import "mixins";

// ---------------General------------

.hidden {
    overflow: hidden;
}

.body-scroll-off {
    box-sizing: border-box;
    padding-right: 17px;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5px;

    @media (min-width: 992px) {
        padding: 0 15px;
    }
}

.btn-white,
.btn-black {
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    border: 1px solid $white;
    transition: $transition;
    line-height: 22px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: $white;
        color: $black;
    }

    @media (min-width: 992px) {
        padding: 12px 29px;
        font-size: 16px;
    }
}

.btn-black {
    color: $text-description-color;
    border: 1px solid $text-description-color;

    &:hover {
        background-color: $block-headline-color;
        color: $white;
    }
}


.btn-black-color {
    background-color: $block-headline-color;
    color: $white;

    &:hover {
        background-color: #666666;
    }
}

// --------------------------------Header top------------------------

.header {
    position: fixed;
    box-shadow: 0px 15px 15px rgba(211, 211, 211, 0.25);
    z-index: 10;
    background-color: $white;
    top: 0;
    left: 0;
    width: 100vw;
}

.header-top-bg {
    background-color: $block-headline-color;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 26px;
    position: relative;
}

.header-slider {
    max-width: 70%;
    position: relative;
    margin: 0 auto;

    @media (min-width: 768px) {
        max-width: 30%;
    }

    .slider-item {
        display: flex !important;
        align-items: center;
        justify-content: center;
        text-align: center;

        a {
            color: $white;
            font-size: $smaller;
            line-height: 160%;
        }

        @media (max-width: 1123px) {
            height: 38px;
            a {
                font-size: 10px;
            }
        }
    }
}

.header-slider:not(.slick-slider) .slider-item:not(:first-child) {
    display: none;
}

.top-slider-prev,
.top-slider-next {
    @include btn-base;
    padding: 0 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.top-slider-next {
    right: -23px;

    @media (min-width: 768px) {
        right: -38px;
    }
}

.top-slider-prev {
    left: -23px;

    @media (min-width: 768px) {
        left: -38px;
    }
}

.header-langs {
    position: absolute;
    right: 18px;
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
        right: 30px;
    }

    .langs-item {
        color: $white;

        font-size: $smaller;

        @media (min-width: 768px) {
            margin-left: 20px;
        }
    }

    .active {
        color: $current-lang;
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }
}

// ---------------------Header main----------------------------

.header-main {
    padding: 3px 6px 3px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (min-width: 992px) {
        padding: 0 19px 0 15px;

    }
}

.header-logo {
    max-height: 20px;
    max-width: 110px;

    @media (min-width: 992px) {
        margin-left: 15px;
        max-width: auto;
        max-height: 24px;
    }

    img {
        object-fit: cover;
        height: 20px;

        @media (min-width: 992px) {
            height: auto;
        }

    }
}

.main-nav {
    position: fixed;
    top: 88px;
    left: -110%;
    background-color: $white;
    width: calc(100vw - 20px);
    min-height: calc(100vh - 88px);
    max-height: calc(100vh - 88px);
    text-align: center;
    padding: 40px 10px;
    transition: $transition;
    overflow-y: scroll;


    @media (min-width: 1200px) {
        margin-left: 81px;
        position: static;
        min-height: auto;
        max-height: none;
        width: auto;
        top: auto;
        left: auto;
        overflow-y: hidden;
        padding: 0;
    }
}

.mob-nav-active {
    left: 0;
}

// --------------hamburger------------------

.hamburger {
    display: block;
    transform: translateY(-50%);
    width: 20px;
    height: 9.5px;
    z-index: 20;
    margin-top: 10px;

    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #666666;
        margin-bottom: 3px;
        transition: $transition;

        &:last-child {
            margin-bottom: 0;
            width: 60%;
        }
    }


    &_active {
        margin-right: 6px;

        span {
            margin-bottom: -2px;

            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
                width: 25px;
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
                width: 25px;
            }

        }
    }
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1200px) {
        display: none;
    }
}

.main-nav-wrap {
    padding-bottom: 40px;

    @media (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }

    .nav-item {
        margin-bottom: 30px;


        @media (min-width: 1200px) {
            margin-bottom: 0;

        }

        &:hover .nav-link {
            &:after {
                opacity: 1;
            }
        }



        .nav-link,
        .active {
            padding: 0 20px;
            font-size: $mob-size;
            color: $text-description-color;
            position: relative;



            @media (min-width: 1200px) {
                font-size: $small;
                padding: 19px 21px;


                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 20px;
                    margin-top: 5px;
                    width: 20px;
                    height: 1px;
                    background-color: $block-headline-color;
                    transition: .2s all;
                    opacity: 0;
                }

            }

            .active {
                &:after {
                    opacity: 1;
                }
            }
        }
    }

}

.d-none {
    display: none !important;
}

.d-lg-flex {
    @media (min-width: 992px) {
        display: flex !important;
    }
}

.show-search-block {
    display: flex !important;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

.search-btn-item {
    display: flex;
    align-items: center;

    .search-block {
        display: none;
        position: absolute;
        top: 52px;
        left: -8px;
        background-color: #fff;
        width: 100vw;
        padding: 0 10px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $text-description-color;
        margin: 5px 8px;


        @media (min-width: 768px) {
            position: static;
            width: 370px;
            padding: 0;
        }

        @media (min-width: 992px) {
            position: static;
            width: 392px;
            padding: 0;
        }

        .search-input {
            border: none;
            font-size: $small;
            color: $not-active-color;
            width: 100%;
            margin-left: 15px;

        }

        .search-input::-ms-clear {
            display: none;
        }

        .search-btn {
            width: 30px;
            height: 30px;
        }

    }

}


.header-btns .btns-item .search-btn:hover {
    background-color: inherit;
}



.header-btns {
    display: flex;
    justify-content: space-between;
    max-width: 100%;


    .btn-cab:hover button {
        background-color: $icon-hover;
    }

    .btn-cab:hover .cab-links {
        display: block;
    }

    .btns-item {

        button,
        .basket-btn {
            @include btn-base;
            width: 34px;
            height: 34px;
            transition: .2s all;
            margin: 5px 0;
            margin-left: 8px;

            @media (min-width: 992px) {
                width: 50px;
                height: 50px;
                margin-left: 0;
            }

            &:hover {
                background-color: $icon-hover;
            }
        }

        .basket-btn {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .basket-btn {
        position: relative;

        .basket-count {
            background-color: $block-headline-color;
            color: $white;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            font-size: 8px;
            line-height: 13px;
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;

            @media (min-width: 992px) {
                top: 5px;
                right: 2px;
            }
        }
    }
}

.btn-cab {
    position: relative;
}

.cab-links {
    display: none;
    width: 137px;
    position: absolute;
    left: -40px;
    top: 57px;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        width: 100%;
        height: 10px;
        background-color: transparent;
    }

    a {
        display: block;
        width: 100%;
        padding: 7px 10px;
        font-size: $small;
        line-height: 22px;
        color: $text-description-color;
        background-color: $white;

        &:hover {
            background-color: #222222;
            color: $white;
        }
    }
}

// -----------------------Menu hover blocks-------------------

.d-flex {
    display: flex !important;
}

.sunglasses-item-wrap,
.optglasses-item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .arrow {
        transition: $transition;


        @media (min-width: 1200px) {
            display: none;
        }
    }
}


@media (min-width: 1200px) {
    .sunglasses-item:hover .sunglasses-submenu {
        display: flex;
    }
}



.toggle-arrow {
    transform: rotate(90deg);
    transition: $transition;
}

.submenu-banner {
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    min-height: 179px;
    background-color: $white;
    padding: 15px;

    @media (min-width: 1200px) {
        position: absolute;
        top: 55px;
        left: 0px;
        justify-content: space-around;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
        border-top: 2px solid #EEEEEE;
        flex-wrap: nowrap;
    }

    .submenu-item {
        width: 49%;

        @media (min-width: 992px) {
            width: 100%;
            max-width: 338px;
            margin-right: 20px;
        }

        a {
            display: flex;
            flex-direction: column;
        }

        &:last-child {
            margin-right: 0;
        }

        .submenu-img {
            width: 100%;
            height: 165px;
            object-fit: cover;
            margin-bottom: 10px;


            @media (min-width: 992px) {
                height: 210px;
            }

            @media (max-width: 767px) {
                height: 100%;
            }
        }

        .submenu-title {
            font-size: $pop-up-headline-mobile;
            line-height: 29px;
            color: $text-description-color;
            text-align: left;

            @media (min-width: 992px) {
                margin-left: 30px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .optic-item:hover .optic-submenu {
        display: flex;
    }
}


.optic-submenu {

    .optic-submenu-banner {
        width: 100%;
        max-width: 695px;
        height: auto;
        padding: 20px;
        display: flex;
        justify-content: flex-end;

        @media (min-width: 992px) {
            height: 210px;
        }


        .banner-info {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .optic-banner-title {
                font-size: $pop-up-headline-mobile;
                line-height: 29px;
                font-weight: 600;

                @media (min-width: 992px) {
                    font-size: $bigger;
                    line-height: 48px;
                }
            }

            .optic-banner-descr {
                font-size: $small;
                line-height: 22px;
                color: $text-description-color;
                margin-bottom: 12px;
            }


        }
    }

}

// ------------------Validation style------------

.input-error {
    border: 1px solid #F65757 !important;

    &+label {
        display: none !important;
    }
}

.error-message {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: 160%;
    color: #F75757;
    margin-right: 5px;

    @media (min-width: 768px) {
        top: -16px;
        margin-right: 0;
    }
}

//---------------------Breadcrumbs----------------

.breadcrumbs {
    padding-left: 15px;
    margin-top: 95px;
    display: flex;
    z-index: 1;
    font-size: 10px;
    line-height: 160%;
    color: $text-description-color;
    white-space: nowrap;
    width: 100vw;

    @media (min-width: 991px) {
        margin-top: 90px;
        width: 100%;
        overflow-x: hidden;
        font-size: 14px;
    }

    .item {
        a {
            color: $text-description-color;
        }

        .border {
            border-bottom: 1px solid transparent;
            transition: .1s linear;
            margin-right: 5px;
            color: $text-description-color;

            &:hover {
                border-bottom: 1px solid $not-active-color;
            }
        }

        .slash {
            margin-right: 5px;
            color: $text-description-color;
        }
    }

    .active {
        cursor: default;
        color: #A4A4A4;
        border-bottom: 1px solid transparent;
        margin-right: 10px;
        overflow: hidden;

        &:hover {
            border-bottom: 1px solid transparent;
            overflow: hidden;
        }
    }
}