@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/icons/untitled-font-1.eot");
  src:url("../fonts/icons/untitled-font-1.eot?#iefix") format("embedded-opentype"),
  url("../fonts/icons/untitled-font-1.woff") format("woff"),
  url("../fonts/icons/untitled-font-1.ttf") format("truetype"),
  url("../fonts/icons/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: "\61";
}
.icon-angle-left:before {
  content: "\62";
}
.icon-angle-up:before {
  content: "\63";
}
.icon-angle-down:before {
  content: "\67";
}
.icon-facebook-official:before {
  content: "\68";
}
.icon-instagrem:before {
  content: "\65";
}
.icon-youtube-alt:before {
  content: "\64";
}
.icon-star-1:before {
  content: "\6a";
}
.icon-star:before {
  content: "\66";
}
.icon-params:before {
  content: "\69";
}
.icon-heart-o:before {
  content: "\6b";
}
.icon-clip:before {
  content: "\6c";
}