@import "variables";

@mixin block-headline {
  font-weight: bold;
  font-size: $block-headline;
  line-height: 77px;
  color: $block-headline-color;
}

@mixin text-description {
  font-size: $normal;
  line-height: 26px;
  color: $text-description-color;
}
@mixin btn-style {
  font-size: $normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $block-headline-color;
  border: none;
  padding: 15px;
  cursor: pointer;
  transition: all .3s linear;
  &:hover {
    color: $white;
    background-color: $not-active-color;
  }
}

@mixin btn-base {
  font-family: Helvetica, sans-serif;
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}


@mixin polarized {
  font-size: $smaller;
  line-height: 19px;
  text-transform: uppercase;
  color: $not-active-color;
  border: 1px solid $not-active-color;
  padding: 0 5px;
}
@mixin price {
  font-weight: bold;
  font-size: $normal;
  line-height: 26px;
  white-space: nowrap;
  
  .price-title {
    font-weight: normal;
    color: $text-description-color;
    padding-right: 15px;
  }
  .price-currency {
    font-weight: normal;
    font-size: $small;
    color: $text-description-color;
  }

  .old-price {
    color: rgba(68, 68, 68, 0.3);
    text-decoration: line-through;
  }

  .old-price-currency {
    color: rgba(34, 34, 34, 0.3);
    margin-right: 15px;
    text-decoration: none;
  }
}

@mixin transition {
  transition: all .4s linear;
}

@mixin input-style {
  line-height: 1.5;
  width: 100%;
  border: 1px solid $input-border;
  box-sizing: border-box;
  padding: 13px;
  margin-bottom: 15px;

  &::placeholder {
    font-size: $small;
    color: $not-active-color;
  }
}

@mixin checkbox {
  .checkbox-label {
    font-size: $normal;
    color: $text-description-color;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    // &:before {
    //   content: "";
    //   display: block;
    //   position: relative;
    //   background-color: transparent;
    //   width: 100%;
    //   max-width: 15px;
    //   height: 15px;
    //   border: 1px solid $block-headline-color;
    //   margin-right: 12px;
    //   transition: background-color .3s linear;
    // }
  }
  .checkbox-input {
    display: none;
  }
  .checkbox-input:checked + .checkbox-label:before {
    background-color: $block-headline-color;
  }
  .checkbox-input:checked + .checkbox-label:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;    
    width: 5px;
    height: 10px;
    border: solid $black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-85%, -50%);
  }
}