@import "mixins";
@import "variables";

.pop-up {
  position: fixed;
  top: 90px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  padding: 0 5px;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 992px) {
    top: 80px;
  }
}

.pop-up-window {
  width: 100%;
  max-width: 350px;
  background-color: $white;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  padding: 15px;
  @media (min-width: 576px) {
    max-width: 457px;
  }
}
//----------------------------------------  Product card pop-up`s  -------------------------------
.description-window {
  max-width: 320px;
  top: 10px;
  left: 100%;
  transform: translate(-100%, 0);
  // max-height: 720px;
  overflow-y: auto;
  padding: 15px;
  height: calc(100vh - 90px);
  @media (min-width: 576px) {
    max-width: 457px;
    padding: 20px 20px 0 30px;
  }

}

.description-window::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.description-window::-webkit-scrollbar-track {
  background-color: #F0F0F0;
  width: 1px
}

/* Handle */
.description-window::-webkit-scrollbar-thumb {
  background-color: #C8C8C8;
  border-radius: 5px;
  width: 5px
}
//----------------------------------------  Product card Description pop-up  ------------------------
.accordion {
  position: relative;
  margin: 5px 0 30px;

  .accordion-item {
    width: 100%;
    box-sizing: border-box;
    @media (min-width: 576px) {
      padding-right: 42px;
    }

    .accordion-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $text-description-color;
      position: relative;
      padding: 25px 0 10px;
      cursor: pointer;
      border-bottom: 1px solid $or-option-line;

      .accordion-arrow {
        transition: all .3s linear;
      }
    }

    .accordion-rotate {
      transform: rotate(90deg);
    }

    .accordion-content {
      display: none;
      padding-top: 15px;
    }

    &:first-child {
      .accordion-title:first-child {
        padding: 0 0 10px 0;
      }
    }
  }

  .product-modal-description, .product-modal-details {
    font-size: $small;
    color: $text-description-color;
  }

  .product-modal-details {
    padding: 10px 0 5px;
  }
}

//------------------------------------  Product card select color pop-up  ------------------------
.select-color-list {
  .select-color-item {
    display: flex;
    align-items: stretch;
    padding: 15px 0;
    margin-right: 20px;
    border-bottom: 1px solid $or-option-line;
    img {
      width: 80px;
      height: 40px;
      object-fit: cover;
      flex-shrink: 0;
      @media (min-width: 576px) {
        width: 140px;
        height: 70px;
      }
    }
    .select-color-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 15px;
      width: calc(100% - 80px);
      @media (min-width: 576px) {
        padding-left: 33px;
        width: calc(100% - 140px);
      }

    }
    .color-price {
      @include price;
      font-size: $pop-up-headline-mobile;
      .price-title {
        font-size: $small;
      }
    }
    .color-description {
      @include price;
      font-size: $small;
    }
  }
  .selected-color-item {
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 5px;
      height: 100%;
      background-color: $yellow;
      position: absolute;
      left: -15px;
      top: 0;
      bottom: 0;
      @media (min-width: 576px) {
        width: 10px;
        left: -30px;
      }
    }
  }
}
//----------------------------------------  Catalog filter pop-up`s  -----------------------------
.catalog-filter-window {
  left: 0;
  transform: translate(0, 0);
}
.filter-title-block {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.desktop-title {
  display: none;
  @media (min-width: 576px) {
    display: inline-block;
  }
}
.filter-reset-btn {
  @include btn-base;
  font-weight: 700;
  font-size: $small;
  text-transform: uppercase;
  background-color: $gray;
  padding: 15px;
  margin-left: 5px;
  transition: $transition;
  @media (min-width: 576px) {
    margin-left: 26px;
  }

  &:hover {
    background-color: $not-active-color;
    color: $white;
  }
}

//------------------------------------------------  Close btn  -----------------------------------
.close-x {
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  transition: $transition;

  &:after, &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $not-active-color;
    position: absolute;
    top: 50%;
  }

  &:after {
    transform: translateY(-50%) rotate(45deg);
  }

  &:before {
    transform: translateY(-50%) rotate(-45deg);
  }

  &:hover {
    &:after, &:before {
      background-color: $block-headline-color;
    }
  }
}
//------------------------------------------------  Pop-up headline  -----------------------------------
.pop-up-headline {
  font-weight: 700;
  font-size: $pop-up-headline-mobile;
  color: $block-headline-color;
  margin-bottom: 15px;
  @media (min-width: 576px) {
    font-size: $pop-up-headline;
  }
}
.pop-up-title {
  font-weight: 700;
  font-size: $small;
  line-height: 22px;
  text-transform: uppercase;
  color: $block-headline-color;
}
.flex-title {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}
.title-uppercase {
  text-transform: uppercase;
}

.resend-code {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: $small;
  color: $block-headline-color;
  margin-bottom: 15px;
}

//----------------------------------------  Contact pop-up  -----------------------------
.contact-window {
  height: calc(100vh - 85px);
  max-height: none;
  position: relative;
  top: 5px;
  max-width: 100%;
  padding: 115px 18px 22px;


  @media (min-width: 768px) {
    height: calc(100vh - 101px);
    max-width: 455px;
    top: 10px;
    max-width: 455px;
    padding: 100px 31px 20px 30px;
  }

  .contact-close {
    position: absolute;
    right: 13px;
    top: 15px;

    @media (min-width: 768px) {
      right: 18px;
      top: 18px;
    }
  }
}

.contact-title {
  font-weight: bold;
  font-size: $bigger;
  line-height: 160%;

  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.contact-description {
  font-size: 14px;
  line-height: 160%;
  color: $text-description-color;
  margin-bottom: 12px;
  padding-right: 9px;

  @media (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.form-inputs-wrap {
  position: relative;
  width: 100%;

  .input-label {
      display: none;
      font-weight: normal;
      font-size: 10px;
      line-height: 160%;
      color: $not-active-color;
      position: absolute;
      top: 0;
  }

  .input-item:focus+.input-label {
      display: block;
  }

  .input-item:focus {
      border: none;
      border-bottom: 1px solid #666666;

      &::placeholder {
          color: transparent;
      }
  }

  .input-item {
      width: 100%;
      padding: 14px;
      font-size: $small;
      line-height: 22px;
      color: $block-headline-color;
      border: 1px solid $input-border;
      margin-bottom: 5px;

      @media (min-width: 768px) {
          margin-bottom: 18px;
      }

      &::placeholder {
          color: $not-active-color;
      }
  }
}

.contact-input {
  margin-bottom: 20px;
}

.contact-textarea {
  resize: none;
  height: 133px;
}

.contact-btns {

  margin-bottom: 20px;

   @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
  }

  .submit-btn {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    padding: 16px 15px;
    margin-bottom: 90px;

    @media (min-width: 768px) {
     width: auto;
     padding: 16px 30px;
     margin-bottom: 0;
    }
  }

  input[type=file] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $alabaster;
    padding: 15px 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      max-width: 212px;
      margin-bottom: 0;
    }

    .icon-clip {
      padding-right: 6px;
    }
  }
}

//------------------------------------------------  All pop-up`s display none  ----------------------------
.confirmation-pop-up, .description-pop-up,
.color-selection-pop-up, .catalog-filter-pop-up,
.contact-pop-up {
  display: none;
  animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.discount_1-pop-up, .discount_2-pop-up, .discount_3-pop-up, .personal-pop-up {
  display: none;
  animation: fade-in .5s cubic-bezier(.39,.575,.565,1) both;
}

.discount-window, .personal-window {
  padding: 0;
  display: flex;
  max-width: 727px;
  width: 100%;

  .close-x {
    position: absolute;
    right: 18px;
    top: 17px;
  }
}

.personal-window {
  padding: 56px 80px 50px;
  flex-wrap: wrap;

  &:before {
    content: url("data:image/svg+xml,%3Csvg width='83' height='392' viewBox='0 0 83 392' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.26402 14.7019L1.26402 -3.55504e-06L82.5938 0L82.5937 32.2081C82.5937 50.1644 73.7588 61.3933 56.6518 61.3933C39.7736 61.3933 30.7116 50.1709 30.7116 32.2081L30.7116 14.7019L1.26402 14.7019ZM43.518 31.4222C43.518 41.5229 48.2761 46.9116 56.6584 46.9116C65.156 46.9116 69.8005 41.5311 69.8005 31.4222L69.8005 14.7019L43.518 14.7019L43.518 31.4222Z' fill='%23EEEEEE'/%3E%3Cpath d='M0.0144564 92.806C0.0144572 75.8606 12.4752 63.8523 30.94 63.8523C49.4048 63.8523 61.8672 75.8606 61.8672 92.806C61.8672 109.751 49.4048 121.761 30.94 121.761C12.4752 121.761 0.0144557 109.751 0.0144564 92.806ZM11.909 92.806C11.909 102.008 19.0454 107.733 30.94 107.733C42.8346 107.733 49.971 102.008 49.971 92.806C49.971 83.6037 42.8346 77.8808 30.94 77.8808C19.0454 77.8808 11.909 83.6037 11.909 92.806Z' fill='%23EEEEEE'/%3E%3Cpath d='M82.5977 143.315L82.5977 129.399L1.25969 129.399L1.25969 143.315L82.5977 143.315Z' fill='%23EEEEEE'/%3E%3Cpath d='M6.24565 186.857C2.39271 183.27 0.239936 177.655 0.239936 171.042C0.239936 159.484 7.15251 150.841 17.9131 150.841C29.0144 150.841 34.1116 159.259 36.4915 170.594L39.8901 186.641L40.9089 186.641C46.3402 186.641 49.7455 183.836 49.7455 176.877C49.7455 170.704 46.913 167.227 41.3615 165.767L44.3076 152.75C54.3901 155.554 61.8672 163.86 61.8672 177.663C61.8672 190.906 55.0698 200.001 41.3615 200.001L15.5332 200.001C10.6631 200.001 5.5659 200.226 1.26035 200.899L1.26036 187.203C2.91206 186.975 4.57795 186.862 6.24565 186.866L6.24565 186.857ZM29.2415 186.641L26.5225 174.184C25.275 168.686 23.3493 164.533 18.2538 164.533C13.8347 164.533 11.4564 167.794 11.4564 173.4C11.4564 180.248 15.0773 186.641 22.1034 186.641L29.2415 186.641Z' fill='%23EEEEEE'/%3E%3Cpath d='M46.7997 244.202C47.0182 242.64 47.132 241.065 47.1404 239.488C47.1404 230.959 41.7091 224.674 32.5269 224.674L1.25574 224.674L1.25574 210.758L60.7335 210.758L60.7335 224.674L51.2189 224.674C57.6755 227.255 61.0742 233.09 61.0742 240.61C61.0658 241.809 60.99 243.007 60.8471 244.197L46.7997 244.202Z' fill='%23EEEEEE'/%3E%3Cpath d='M0.0144564 275.963C0.0144572 259.018 12.4752 247.008 30.94 247.008C49.4048 247.008 61.8672 259.018 61.8672 275.963C61.8672 292.908 49.4048 304.917 30.94 304.917C12.4752 304.917 0.0144557 292.908 0.0144564 275.963ZM11.909 275.963C11.909 285.165 19.0454 290.888 30.94 290.888C42.8346 290.888 49.971 285.165 49.971 275.963C49.971 266.761 42.8346 261.036 30.94 261.036C19.0454 261.036 11.909 266.761 11.909 275.963Z' fill='%23EEEEEE'/%3E%3Cpath d='M82.5938 312.55L82.5937 326.914L68.2057 326.914L68.2057 312.55L82.5938 312.55ZM1.25578 326.691L1.25578 312.775L60.7368 312.775L60.7368 326.691L1.25578 326.691Z' fill='%23EEEEEE'/%3E%3Cpath d='M82.5937 378.084L82.5937 392L1.2558 392L1.2558 378.084L8.49754 378.084C2.60704 374.156 0.00166174 368.208 0.00166205 361.026C0.00166278 344.304 14.049 334.541 30.9272 334.541C47.8054 334.541 61.8544 344.304 61.8544 361.026C61.8544 368.208 59.249 374.156 53.3569 378.084L82.5937 378.084ZM49.5121 363.72C49.5121 354.182 41.9231 348.569 30.9338 348.569C19.8325 348.569 12.3554 354.182 12.3554 363.72C12.3554 372.136 18.473 378.42 29.1217 378.42L32.6438 378.42C43.518 378.42 49.522 372.136 49.522 363.72' fill='%23EEEEEE'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
    top: 0;
  }
}

.modal-left {
  display: flex;
  position: relative;
  width: 295px;
  height: 100%;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.modal-right {
  padding: 53px 41px 0 40px;
  width: calc(100% - 295px);
}

.discount {
  color: #ed1c24;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;

  &-title {
    display: block;
    margin-bottom: 22px;
    font-size: 30px;
    font-weight: 700;
  }

  &-description {
    line-height: 30px;
    margin: 0 0 0 -1px;
    letter-spacing: 0.2px;

    &-bold {
      font-size: 24px;
      font-weight: 700;
      line-height: 31px;
      position: relative;
      top: -4px;
      left: -2px;

      & .discount {
        line-height: initial;
      }
    }
  }

  &-window {
    & form {
      position: relative;
      top: 34px;

      & .form-inputs-wrap .input-item {
        margin-bottom: 9px;
      }
    }

    & .discount-description-bold + form {
      top: 18px;
    }

    & .contact-btns .submit-btn {
      width: 100%;
    }
  }

  &-input-title {
    margin-bottom: 13px;
    display: block;
    font-size: 12px;
  }
}

.personal {
  &-title {
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }

  &-content {
    margin-top: 12px;
    display: flex;

    & .discount {
      letter-spacing: 0;

      &-description {
        margin: 0 0 26px -1px;
      }
    }

    & .submit-btn {
      position: relative;
      right: -3px;
    }
  }

  &-left, &-right {
    width: 50%;
  }

  &-right {
    padding: 24px 2px 0 22px;
    text-align: center;
  }

  &-img {
    max-width: 259px;
    width: 100%;
    height: 100%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 767px) {
  .discount-window, .personal-wrindow {
    flex-direction: column;
    height: calc(86vh - 85px);
    overflow-y: auto;
  }
  .modal-left {
    width: 100%;
    height: 300px;
    margin-top: 55px;

  }
  .modal-right {
    padding: 53px 21px 0;
    width: 100%;
  }

  .personal {
    &-window {
      padding: 45px 10px;

      &:before {
        display: none;
      }
    }

    &-title {
      font-size: 35px;
    }

    &-content {
      flex-direction: column;
    }

    &-left, &-right {
      width: 100%;
      padding: 0;
    }

    &-left {
      display: flex;
      justify-content: center;
    }
  }
}

.pop-up.opened {
  display: block;
}

.select-color-list .select-color-item .color-description {
  overflow: hidden;
  text-overflow: ellipsis;
}