@import "mixins";
@import "variables";

// ------------------------------Section news--------------------------
.news,
.hits {
    padding: 45px 0 0;

    @media (min-width: 1200px) {
        padding: 40px 0 0;
        margin-bottom: 20px;
    }


}

.news {
    .slick-dots {
        bottom: 0;
    }
}

.hits {
    padding: 25px 0 0;

    @media (min-width: 1200px) {
        padding: 40px 0 0;
    }

    .slick-dots {
        bottom: -9px;
    }

    .section-title {
        margin-bottom: 21px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }
}

.section-title {
    font-size: $bigger;
    line-height: 48px;
    text-align: center;
    font-weight: bold;
    display: block;

    @media (min-width: 992px) {
        font-size: $section-title;
        line-height: 102px;
    }
}

.smaller-title {
    font-size: $product-name-title;

    @media (min-width: 992px) {
        font-size: $block-headline;
        text-transform: capitalize;
    }
}

.news-descr {
    font-size: $normal;
    line-height: 26px;
    text-align: center;
    color: $not-active-color;
    margin: 0 auto;
    margin-bottom: 22px;
}

// -------------------------news slider---------------------

.news-item {
    max-width: 454px;
    width: 100%;
    margin: 0 12px;

    .news-img,
    .news-img-hover,
    .news-img-2 {
        // max-width: 380px;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
        display: block;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .slick-list,
        .slick-track  {
            height: 100%;
        }
    }

    .news-img-hover {
        position: absolute;
        opacity: 0;
    }

    .like-btn {
        @include btn-base;
        position: absolute;
        top: 5px;
        right: 0;
        padding: 0 5px;
        display: block;
        @media (min-width: 1200px) {
            display: none;
            top: 20px;
            right: 20px;
        }

        &:before {
            content: "\6b";
            font-family: untitled-font-1, sans-serif;
            font-size: $pop-up-headline-mobile;
        }
    }

    .like-btn-active {
        margin-top: -5px;
        &:before {
            content: "\2764";
            color: $red;
            font-size: 22px;
            margin-right: -2px;
        }
    }

    .sale-product,
    .hit-product,
    .new-product,
    .not-available,
    .on-order {
        font-weight: 700;
        font-size: $smaller;
        line-height: 19px;
        text-transform: uppercase;
        color: $white;
        background-color: $sale-color;
        padding: 0 7px;
        position: absolute;
        top: 5px;
        left: 0;

        @media (min-width: 768px) {
            top: 20px;
        }
    }

    .hit-product {
        background-color: $red;
    }

    .new-product {
        background-color: $new-color;
    }

    .on-order {
        background-color: $on-order;
    }

    .not-available {
        background-color: $available-color;
        z-index: 5;
    }

    .specific-product {
        @include polarized;
        font-size: $specific-product;
        position: absolute;
        bottom: 10px;
        left: 10px;
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: $smaller;
            bottom: 15px;
            left: 20px;
            line-height: 160%;
        }
    }

    .news-img-2 {
        display: none;

        @media (min-width: 1200px) {
            display: block;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:hover .news-color-slider {
        opacity: 1;
        transition: .4s all;
    }

    @media (min-width: 1200px) {
        &:hover .news-img-2 {
            opacity: 1;
            transition: .4s all;
        }

        &:hover .news-img {
            opacity: 0;
            transition: .4s all;
        }
    }


    .img-wrap {
        position: relative;
    }





    @media (min-width: 992px) {
        &:hover .footer-color {
            opacity: 0;
            transition: .4s all;
        }
    }

    .img-wrapper {
        width: 100%;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media (min-width: 992px) {
            height: 350px;
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .img-wrap {
            height: 100%;
            width: 100%;
        }
    }
}

// .available-item {
//     .img-wrapper {
//         &:after {
//             content: '';
//             display: block;
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background-color: rgba(255, 255, 255, .5);
//         }
//     }
// }

.color-slider-arrow {
    font-size: 27px;
    color: #666666;

    &:hover {
        color: rgba(102, 102, 102, 0.5);
    }
}

.new-slider-arrow {
    color: #fff;
    font-size: 30px;
}

.new-item-footer {
    padding: 10px 0px 0;

    @media (min-width: 992px) {
        padding: 22px 30px;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        margin-bottom: 2px;
        color: $text-description-color;

        @media (min-width: 992px) {
            margin-bottom: 9px;
        }

        .type {
            font-size: 13px;

            @media (min-width: 992px) {
                font-size: $pop-up-headline-mobile;
                margin-right: 15px;
            }
        }

        .price-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .price {
            font-weight: bold;
            font-size: $normal;
            line-height: 26px;
            white-space: nowrap;
            padding-top: 10px;

            span {
                font-size: $smaller;
                color: $not-active-color;
                font-weight: normal;
            }
        }

        .old-price {
            font-weight: bold;
            font-size: $normal;
            line-height: 26px;
            text-decoration-line: line-through;
            color: rgba(68, 68, 68, 0.3);
            padding-right: 10px;
            white-space: nowrap;
            padding-top: 10px;
        }
    }

    .footer-color {
        font-size: 12px;
        color: $not-active-color;
        transition: .4s all;
        display: block;
        margin-bottom: 20px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }
}

.news-slider,
.hits-slider {
    position: relative;

    .slick-track {
        display: flex;
        justify-content: space-between;
    }

}

.slick-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $not-active-color;
        opacity: 0.8;
        margin: 0 10px;
        cursor: pointer;
    }

    .slick-active {
        background-color: $not-active-color;
    }
}

.news-slider-prev,
.news-slider-next {
    position: absolute;
    top: 124px;
    transform: translateY(-50%);
    height: 60px;
    width: 25px;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    z-index: 2;
    cursor: pointer;
    transition: .2s all;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1200px) {
        top: 175px;
    }

    img {
        width: 10px;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.8);
    }
}

.news-slider-next {
    right: 0;
}

.news-slider-prev {
    left: 0;
}


// ---------------Color slider-----------

.news-color-slider {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1200px) {
        opacity: 0;
        transition: .4s all;
        margin-top: -13px;
        max-width: 360px;
    }

    .slick-disabled {


        .color-slider-arrow {
            color: rgba(102, 102, 102, 0.5);

            &:hover {
                color: rgba(102, 102, 102, 0.5);
            }
        }


    }

    .slick-prev {
        left: -20px;
        z-index: 10;
    }

    .slick-next {
        right: -20px;
        z-index: 10;
    }

    .color-slider-item {
        width: 62px;
        height: 55px;
        margin: 1px;
        background-color: $alabaster;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media (min-width: 992px) {
            width: 82px;
            height: 55px;
            margin: 3px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    .slick-current {
        position: relative;
        opacity: 0.5;
    }

    .slick-current:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: #FFB800;

        @media (min-width: 992px) {
            height: 5px;
        }
    }
}