@import "reset";
@import "mixins";
@import "header";
@import "footer";
@import "libs/slick";
@import "icons";

//----------------------------- Profile page style---------------------

.profile {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 0 40px;

    @media (min-width: 992px) {
        display: flex;
        padding: 95px 15px 15px;
    }

    @media (min-width: 1200px) {
       min-height: calc(100vh - 279px);
    }

    .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 160%;
        padding: 30px 15px 15px;

        @media (min-width: 992px) {
            padding: 30px 32px 20px;
        }
    }
}

.nav-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @media (min-width: 992px) {
        width: 33%;
        max-width: 457px;
        min-height: 710px;
        height: 100%;
        margin-bottom: 0;
    }
}

.nav-profile {
    margin-bottom: auto;
}

.profile-nav-item {
    padding: 0 15px;

    @media (min-width: 992px) {
        padding: 0;
    }

    .nav-link {
        padding: 14px 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $not-active-color;
        font-weight: bold;
        font-size: 14px;
        line-height: 160%;
        text-transform: uppercase;
        border-bottom: 1px solid #DFDFDF;

        .icon-angle-right {
            font-size: 17px;
            color: $block-headline-color;
        }

        @media (min-width: 992px) {
            padding: 15px 24px 15px 32px;
            border-bottom: none;
        }
    }

    .active {
        background-color: $white;
        color: $block-headline-color;
    }
}

.leave-btn {
    max-width: 109px;
    font-size: $small;
    margin: 30px 15px;
    padding: 15px 28px;

    @media (min-width: 992px) {
        margin: 30px;
    }
}

// ------------------------Content column------------------------

.content-column {
    width: 100%;
    padding: 0 15px;

    @media (min-width: 992px) {
        width: 68%;
        padding: 45px 30px;
    }
    @media (min-width: 1200px) {
        padding: 45px 28px 68px 48px;
    }
}

.content-title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 160%;
    margin-bottom: 15px;
    padding-left: 2px;

    @media (min-width: 992px) {
        margin-bottom: 20px;
    }

    @media (max-width: 991px) {
        font-size: 21px;
    }
}