
//----------------------------- Colors ---------------------------------
$white: #FFF;
$black: #000;
$block-headline-color: #222222;
$text-description-color: #444444;
$not-active-color: #666666;
$gray: #F0F0F0;
$or-option-line: #DFDFDF;
$input-border: #CDCDCD;
$current-lang: rgba(255, 255, 255, 0.3);
$icon-hover: #F2F2F2;
$wild-sand: #F5F5F5;
$alabaster: #F8F8F8;
$yellow: #FFEB34;
$border-color: #EEEEEE;
$offer-block-color: #D6F6FF;
$not-active-star: #E0E0E0;
$active-star: #FFB800;
$banner-bg-yellow: #F4F76E;
$banner-bg-cyan: #B4E6F3;
$red: #F17D81;
$sale-color: #F98F54;
$new-color: #7DB2F1;
$available-color: #58AF66;
$on-order: #8E58AF;

//----------------------------- Font size ------------------------------

$specific-product: 10px;
$smaller: 12px;
$small: 14px;
$normal: 16px;
$pop-up-headline-mobile: 18px;
$mob-size: 20px;
$big: 24px;
$pop-up-headline: 24px;
$bigger: 30px;
$product-name-title: 30px;
$block-headline: 48px;
$catalog-headline: 56px;
$section-title: 64px;
$h1: 78px;
$main-title-banner: 34px;
//----------------------------- other ------------------------------
$transition: all .2s linear;