@import "reset";
@import "mixins";
@import "header";
@import "footer";
@import "libs/slick";
@import "cookies";

.basket {
    background-color: $wild-sand;
    padding: 88px 0 30px;
    min-height: 100vh;

    @media (min-width: 992px) {
        padding: 121px 0 80px;
        min-height: calc(100vh - 263px);
    }
}

.basket-title {
    @include block-headline;
    text-align: center;
    font-size: $bigger;
    line-height: 48px;

    @media (min-width: 992px) {
        @include block-headline;
        margin-bottom: 10px;
    }
}

.basket-main {
    padding: 0 15px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    background-color: $white;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 992px) {
        padding: 0 30px;
    }
}

// ---------------------basket header----------

.basket-header {
    display: none;

    @media (min-width: 992px) {
        font-size: $small;
        line-height: 22px;
        color: $not-active-color;
        display: flex;
        justify-content: space-between;
        padding: 15px 5px 15px 0;
        border-bottom: 1px solid $or-option-line;
    }
}

.basket-header-name {
    width: 50%;
}

.basket-header-descr {
    display: flex;
    justify-content: space-between;
    width: 50%;

    .price-th{

        @media (min-width: 992px) {
            margin-left: 70px;
        }
    }

    .color-tr {

        @media (min-width: 992px) {
            margin-left: 11px;
        }
    }
}

// ------------------basket content--------------


.basket-item {
    padding: 19px 5px 14px;
    border-bottom: 1px solid $or-option-line;

    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 10px 29px 0;
    }

    .item-glass {
        width: 100%;
        display: flex;
        align-items: center;

        @media (min-width: 992px) {
            width: 50%;
        }

        img {
            width: 140px;
            height: 68px;
            object-fit: cover;

            @media (min-width: 992px) {
                margin-right: 44px;
                margin-left: 24px;
            }
        }

        .item-name {
            font-weight: normal;
            font-size: 11px;
            line-height: 29px;
            color: $text-description-color;
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis;
            margin-left: 12px;

            @media (min-width: 992px) {
                white-space: normal; 
                overflow: visible; 
                max-width: 337px;
                margin-left: 0;
                font-size: $pop-up-headline-mobile;
            }
        }
    }

    .item-descr {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $small;
        line-height: 22px;

        @media (min-width: 992px) {
            width: 50%;
        }

        .color-td {

            
            @media (min-width: 992px) {
                margin-left: 10px;
            }
           
        }
    }
}

.price {
    @include price;
    font-size: $pop-up-headline-mobile;

    @media (min-width: 992px) {
        display: block;
        margin-left: 30px;
    }

    .price-currency-col {
        color: $not-active-color;
    }
}

.delete-btn {
    font-size: $smaller;
    padding: 9px 10px;

    @media (min-width: 992px) {
        padding: 14px 30px;
        font-size: $small;
    }
   
}


// -----------------basket footer-----------

.basket-footer {
    padding: 22px 4px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 992px) {
        padding: 19px 0;
    }

    .font-size20 {
        font-size: 20px;
    }

    .font-size18 {
        font-size: 18px;
    }

    .font-size16 {
        font-size: 16px;
    }
}


.bonus-count {
    margin-right: 12px;
    margin-bottom: 10px;
    color: $text-description-color;

    @media (min-width: 992px) {
      margin-bottom: 0;
      margin-left: 0;
    }
}

.basket-bonus {
    display: none;

    @media (min-width: 992px) {
        display: flex;
        align-items: center;
    }
}

.basket-arrange {
    width: 100%;

    @media (min-width: 992px) {
        display: flex;
        align-items: center;
        width: auto;
    }
}

.btn-order {
    width: 100%;
    font-size: 18px;
    line-height: 160%;

    @media (min-width: 992px) {
        width: auto;
        margin-left: 10px;
    }
}

.full-price  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.use-btn {

    @media (min-width: 992px) {
       font-size: $small;
       padding: 14px 20px;
    }
}