@import "mixins";
@import "variables";
@import "reset";
@import "pop-up";
@import "header";
@import "footer";
@import "libs/slick";
@import "icons";
@import "product-slider";
@import "cookies";

.catalog-title-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 5px 0px;
  box-sizing: border-box;
  // @media (min-width: 576px) {
  //   padding-bottom: 15px;
  // }
  @media (min-width: 992px) {
    padding: 10px 15px 6px;
  }
}
.catalog-image-block {
  // height: 200px;
  position: relative;
  // @media (min-width: 768px) {
  //   height: 300px;
  // }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.catalog-overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.catalog-headline {
  white-space: nowrap;
  font-weight: 700;
  font-size: $big;
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: 992px) {
    font-size: $catalog-headline;
    margin-top: -7px;
  }
}
//----------------------------------------  Catalog filters  -----------------------
.catalog-cards-section {
  padding: 5px;
  min-height: calc(100vh - 597px);
}
.sort-btn-block {
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  margin-bottom: 15px;
  @media (min-width: 576px) {
    align-items: center;
  }
}
.catalog-filter, .mobile-scroll-filter {
  width: 49%;
  @include btn-base;
  color: initial;
  font-size: $small;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid $text-description-color;
  transition: $transition;
  @media (min-width: 576px) {
    width: auto;
  }

  @media (min-width: 992px) {
    padding: 15px 30px;
    margin-left: -5px;
  }
  .icon-filter {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background: url("../img/icons/filter-icon.svg") no-repeat center / cover;
    transition: $transition;
  }
  &:hover {
    background-color: $text-description-color;
    color: $white;
    .icon-filter {
      background: url("../img/icons/filter-icon-white.svg") no-repeat center / cover;
    }
  }
}
.mobile-scroll-filter {
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  position: fixed;
  top: 92px;
  left: 0;
  z-index: 9;
  .icon-filter {
    margin: 0;
  }
}
.mobile-filter-active {
  display: flex;
}
.filter-item {
  padding-bottom: 18px;
  @include checkbox;
}

.catalog-filter {
  height: 42px;
  margin-top: 22px;

  @media (min-width: 576px) {
    margin-top: 0;
  }

  @media (min-width: 992px) {
    height: auto;
  }
}
//----------------------------------------  Catalog dropdown sort  ---------------
.sort-dropdown-block {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: $small;
  @media (min-width: 576px) {
    width: auto;
  }
  span {
    line-height: 22px;
  }
  @media (min-width: 576px) {
    flex-direction: row;
    align-items: center;
  }
}
#options.dropdown {
  width: 100%;
  border: 1px solid $block-headline-color;
  display: block;
  cursor: pointer;
  position: relative;
  padding: 10px 5px;
  height: 42px;

  @media (min-width: 576px) {
    width: 197px;
    margin-left: 15px;
  }
  @media (min-width: 992px) {
    padding: 16px 9px 17px;
    height: auto;
  }
  .dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    span {
      min-width: 125px;
      overflow: hidden;
      margin-right: 5px;
    }
    img {
      transition: $transition;
      margin-bottom: 4px;
    }
  }
  .sub_menu {
    display: none;
    width: 100%;
    background-color: $white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 10;
    left: 0;
    top: 110%;
    @media (min-width: 576px) {
      width: 197px;
    }
    .btn-filter {
      @include btn-base;
      width: 100%;
      text-align: left;
      padding: 9px 15px;
      z-index: 10;
      transition: $transition;
      &:hover {
        background-color: $block-headline-color;
        color: $white;
      }
    }
  }
  .active-btn-filter {
    .btn-filter {
      background-color: $block-headline-color;
      color: $white;
    }
  }
  .active-dropdown {
    transform: rotate(90deg);
  }
}

//----------------------------------------  Catalog cards  -----------------------
.catalog-wrapper {
  padding: 0;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  .news-item {
    width: calc(50% - 4px);
    margin: 0 2px;
    max-width: none;
    @media (min-width: 1200px) {
      width: calc(33.3% - 24px);
      max-width: 454px;
      margin: 0 12px;
    }
    // &:hover .news-color-slider,
    // &:hover .news-img-hover  {
    //   @media (min-width: 768px) {
    //     opacity: 1;
    //     transition: .4s all;
    //   }
    // }

    &:hover .like-btn {
      display: block;
      z-index: 9;
    }

    // &:hover .news-img,
    // &:hover .footer-color {
    //   @media (min-width: 768px) {
    //     opacity: 0;
    //     transition: .4s all;
    //   }
    // }
    .img-wrapper {
      height: 140px;
      @media (min-width: 576px) {
        height: 350px;
      }
    }
    .new-item-footer {
      .footer-info {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        .type {
          @media (max-width: 768px) {
            height: 43px;
            text-overflow: ellipsis;
          }
        }
     
      }
    }
  }
  .banner-wrapper {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
    @media (min-width: 768px) {
      width: calc(50% - 4px);
      margin: 0 2px;
      max-width: none;
      height: 457px;
    }
    @media (min-width: 1200px) {
      width: calc(33.3% - 24px);
      margin: 0 12px;
    }
  }
}
// ---------------Color slider-----------

.news-color-slider {
  opacity: 0;
  transition: .4s all;
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

//----------------------------------------  Banner card  -----------------------

.catalog-banner-wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.7) 100%);
  padding: 30px;
}
.catalog-banner-tile, .catalog-banner-description {
  color: $white;
}
.catalog-banner-tile {
  font-weight: 700;
  font-size: $product-name-title;
  line-height: 48px;
}
.catalog-banner-description {
  font-size: $small;
  line-height: 22px;
  padding-bottom: 10px;
}
.catalog-banner-btn {
  display: inline-block;
  color: $white;
  background-color: rgba(0, 0, 0, 0.3);
}

//----------------------------------------  Pagination  -----------------------
.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  .dots {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 50px;
        height: 50px;
        line-height: 29px;
        font-size: 18px;
        color: $not-active-color;
        padding-bottom: 10px;
  }
  li {
    display: flex;
  }
}
.pagination-link {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $pop-up-headline-mobile;
  color: $not-active-color;
  background-color: $alabaster;
  transition: $transition;
  &:hover {
    color: $white;
    background-color: $text-description-color;
  }
}
.active-pagination {
  .pagination-link {
    color: $white;
    background-color: $text-description-color;
  }
}

@media (min-width: 768px) {
  .mob-img {
    display: none;
  }
}

@media (max-width: 767px) {
  .desk-img {
    display: none;
  }
}