@import "reset";
@import "mixins";
@import "header";
@import "footer";
@import "libs/slick";
@import "icons";
@import "cookies";


.checkout {
    background-color: $wild-sand;

}

.checkout-wrap {
    padding: 70px 5px 5px;
    min-height: 100vh;

    @media (min-width: 992px) {
        padding: 95px 0 15px 15px;
        min-height: calc(100vh - 263px);
    }

}

.checkout-form {


    @media (min-width: 992px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}



// ----------------------Ordering--------------------

.ordering {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-bottom: 65px;

    @media (min-width: 992px) {
        width: 66%;
        padding: 30px;
        max-width: 934px;
    }
}

.checkout-title {
    @include block-headline;
    font-size: $pop-up-headline;
    line-height: 160%;
    margin-bottom: 15px;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
        font-size: $bigger;
        line-height: 48px;
    }
}

.checkout-sub-title {
    display: block;
    @include block-headline;
    font-size: $smaller;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: center;

    @media (min-width: 768px) {
        margin-bottom: 21px;
        text-align: left;
        font-size: $small;
    }
}

// ----------------Form data--------------

.data {
    margin-bottom: 24px;

    @media (min-width: 992px) {
        margin-bottom: 30px;
    }
}

.form-inputs-row {

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.form-inputs-wrap {
    position: relative;
    width: 100%;

    @media (min-width: 768px) {
        width: 49%;
    }

    .input-label {
        display: none;
        font-weight: normal;
        font-size: 10px;
        line-height: 160%;
        color: $not-active-color;
        position: absolute;
        top: 0;
    }

    .input-item:focus+.input-label {
        display: block;
    }

    .input-item:focus {
        border: none;
        border-bottom: 1px solid #666666;

        &::placeholder {
            color: transparent;
        }
    }

    .input-item {
        width: 100%;
        padding: 14px 15px;
        font-size: $small;
        line-height: 22px;
        color: $block-headline-color;
        border: 1px solid $input-border;
        margin-bottom: 5px;

        @media (min-width: 768px) {
            margin-bottom: 20px;
        }

        &::placeholder {
            color: $not-active-color;
        }
    }
}

.build-wrap {
    width:49%;

    @media (min-width: 1200px) {
        width: 55%;
    }
}

.flat-wrap {
    width: 49%;

    @media (min-width: 1200px) {
        width: 41%;
    }
}

.number-input-wrap {
    display: flex;
    justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

//--------------  Form dropdowns  ---------------

.form-dropdown {
    font-size: $small;
    line-height: 22px;
    width: 100%;
    margin-bottom: 5px;

    @media (min-width: 768px) {
        width: 49%;
        margin-bottom: 0;
    }
}

.dropdown-list {
    width: 100%;
    border: 1px solid $input-border;
    display: block;
    cursor: pointer;
    position: relative;
    padding: 15px 10px 15px 15px;

    .dropdown-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $not-active-color;

        input.selected {
            width: 100%;
            cursor: pointer;
            border: none;
            font-size: $small;
            line-height: 22px;
            color: $block-headline-color;
            background-color: transparent;
        }

        span {
            transition: $transition;
            color: $block-headline-color;
            height: 18px;
        }
    }

    .sub_menu {
        display: none;
        width: 100%;
        background-color: $white;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
        position: absolute;
        z-index: 10;
        left: 0;
        top: 56px;
        max-height: 183px;
        overflow-y: scroll;
        scroll-margin: 20px;

        &::-webkit-scrollbar {
            /* 1 - скроллбар */
            width: 4px;
            background: #fff;
        }

        &::-webkit-scrollbar-thumb {
            /* 5 - ползунок */
            background: #C8C8C8;
            border-radius: 5px;
        }

        .list-item {
            @include btn-base;
            width: 100%;
            text-align: left;
            padding: 7px 15px;
            z-index: 10;
            transition: $transition;

            &:hover {
                background-color: $block-headline-color;
                color: $white;
            }
        }
    }
}

.active-dropdown {
    transform: rotate(90deg);
}

// ------------------Delivery--------------

.delivery {
    margin: 30px 0;

    @media (min-width: 768px) {
        margin: 52px 0;
    }
}

.delivery-item {
    background-color: $gray;
    margin-bottom: 10px;

}

.delivery-head {
    padding: 14px 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;

    img {
        margin-right: 20px;
    }

    .head-title {
        display: block;
        margin-right: 10px;
        font-size: 16px;
        line-height: 160%;
    }


}

.delivery-content {
    display: none;
}

.novaposhta-content {
    display: block;
}

.head-descr {
    font-size: 14px;
    line-height: 160%;
    color: $not-active-color;
}

.delivery-content-title {
    font-size: 14px;
    line-height: 160%;
    color: $not-active-color;
    margin-left: 20px;
}

.novaposta-courier-dropdown {
    @media (min-width: 768px) {
        margin-bottom: 15px;
    }

}

.novaposta-courier-select::placeholder {
    color: #000;
}

.delivery-way {
    padding: 0 15px 20px;

    @media (min-width: 768px) {
        padding: 17px 21px 20px;
    }
}

.ukrposhta-content {
    .index-input {
        margin-bottom: 0;
    }
}

// .novaposta-courier-dropdown-list {
//     border-color: #000;
// }

.radio-wrap {
    margin-bottom: 17px;
    cursor: pointer;

    input {
        margin-right: 17px;
    }

    label {
        cursor: pointer;
    }
}

// --------------Pay method---------------
.pay .checkmark {
    margin-top: 2px;
}
.pay-item {
    background-color: $gray;
    margin-bottom: 10px;
}

.pay-head {
    padding: 15px 22px 19px 20px;
    display: flex;
    align-items: center;

    input {
        margin-right: 17px;
    }

    label {
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        img {
            margin-right: 12px;
        }

        p {
            font-size: 16px;
            line-height: 160%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 10px;
        }

        .cash-col {
            font-size: 14px;
            line-height: 160%;
            color: #666;
            display: none;

            @media (min-width: 992px) {
                display: block;
            }
        }
    }
}

.pay-card {
    padding: 0 20px 20px;
    display: none;

    @media (min-width: 768px) {
        padding: 0 20px;
    }

    .card-number-wrap {
        @media (min-width: 1200px) {
            width: 54%;
        }
    }

    .cvv-wrap {
        @media (min-width: 1200px) {
            width: 44%;
        }

        .build-wrap {
            @media (min-width: 1200px) {
                width: 66%;
            }
        }

        .flat-wrap {
            @media (min-width: 1200px) {
                width: 29%;
            }
        }
    }


}

.pay-card-active {
    display: block;
}

.selected-input {
    background-color: #fff;
    border: 1px solid #C4C4C4;
}

.cash-item-label {
    span {
        display: none;
        font-size: 14px;
        line-height: 160%;
        color: $not-active-color;

        @media (min-width: 768px) {
            display: block;
        }
    }
}

.pay-head-pad {
    padding: 16px 22px 9px 20px;
}


input[type=radio] {
    display: none;
}

input[type=radio]+label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

input[type=radio]+label:before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border: 2px solid #CDCDCD;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;

    flex-shrink: 0;
}

/* Checked */
input[type=radio]:checked+label:before {
    content: '';
    background: url(../img/shape.png)no-repeat top 4px left 3px;
    border: 2px solid #000;
}

/* Customize the label (the container) */
.radio-label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid #CDCDCD;
  }


  /* When the radio button is checked, add a blue background */
  .radio-label input:checked ~ .checkmark {
    background-color: white;
    border: 2px solid #000;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .radio-label input:checked ~ .checkmark:after {
    display: block;
    background-color: black;
  }

  /* Style the indicator (dot/circle) */
  .radio-label .checkmark:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
  }


// --------------------------------Order----------------------------

.order {
    width: 100%;
    padding: 20px 10px;

    &-wrapper {
        position: sticky;
        top: 95px;
    }

    @media (min-width: 762px) {
        padding: 20px 30px;
    }

    @media (min-width: 992px) {
        width: 34%;
    }

    @media (min-width: 1400px) {
        padding: 16px 62px;
    }
}

.mobile-block-wrap {
    border-bottom: 1px solid $or-option-line;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

    @media (min-width: 992px) {
        margin-bottom: 0;
    }
}

.border-none {
    border: none;
}

.mobile-block-border {
    @media (min-width: 992px) {
        border: none;
    }
}

.mobile-block-wrap .icon-angle-right {
    transition: .2s all;

    @media (min-width: 992px) {
        display: none;
    }
}

.promo-input-wrap {
    display: none;

    @media (min-width: 992px) {
        display: block;
    }
}

.order-number {
    font-size: $normal;
    line-height: 26px;
    color: $text-description-color;

    padding: 10px 0;

    span {
        color: $block-headline-color;
        font-weight: bold;
        margin-left: 5px;
    }
}

.order-content-wrap {
    display: none;

    @media (min-width: 992px) {
        display: block;
    }
}

.order-item {
    display: flex;
    align-items: center;
    padding: 19px 0 17px 10px;
    border-bottom: 1px solid $or-option-line;

    .order-item-img {
        width: 97px;
        height: 71px;
        object-fit: contain;
        margin-right: 23px;
    }

    .order-item-descr {
        width: 100%;
        overflow: hidden;
    }

    .order-item-name {
        font-size: 11px;
        line-height: 21px;
        color: $text-description-color;
        margin-bottom: 11px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .order-item-info {
        display: flex;
        justify-content: space-between;
        font-size: $small;
        line-height: 22px;
        color: $not-active-color;
    }

}

.price {
    @include price;
    color: $block-headline-color;

    @media (min-width: 768px) {
        display: block;
    }

    .price-currency-col {
        color: $not-active-color;
        font-size: $smaller;
    }
}

// ----------------------order footer-------------------

.order-footer {
    padding: 15px 0;
    border-bottom: 1px solid $or-option-line;
    margin-bottom: 9px;
}

.order-footer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .item-title {
        font-size: 18px;
        color: $text-description-color;
        line-height: 29px;
    }
}

.order-footer-price {
    font-size: $mob-size;

    .order-currency {
        font-size: $normal;
        line-height: 160%;
        color: $not-active-color;
        font-weight: normal;
    }
}


.order-footer-item-bonus {

    .item-title {
        font-size: $normal;
    }
}

// ----------------order promo ---------------

.order-promo-title {
    display: block;
    font-size: $normal;
    line-height: 160%;
    color: $text-description-color;
    margin-bottom: 10px;
}

.promo-input {
    width: 100%;
    border: 1px solid #CDCDCD;
    padding: 14px;
    background-color: transparent;
    margin-bottom: 10px;
}

.promo-btn {
    width: 100%;
    font-size: $normal;
    margin-bottom: 15px;
}

.cash-item {
    margin-bottom: 20px;
}

.form-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.politics {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 100%;
    @media (min-width: 1200px) {
        width: 70%;
    }

    @include checkbox;

    .checkbox-input:checked + .checkbox-label:after {
        top: 28%;
        @media (min-width: 550px) {
            top: 50%;
        }
      }

    .politics-links {
        font-size: 14px;
        line-height: 160%;
        color: $not-active-color;
        flex-wrap: wrap;
        margin-bottom: 15px;
        width: 100%;

        @media (min-width: 992px) {
          margin-bottom: 0;
        }


        a {
            text-decoration: underline;
            color: $black;
            margin: 0 5px;

        }


        span {
            white-space: nowrap;
        }

        a:last-child {
            margin-left: 30px;

            @media (min-width: 553px) {
                margin-left: 5px;
            }
        }
    }
}

.glass-radio {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    &__title {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .radio-label {
        margin-right: 10px;
        padding-left: 25px;
        height: 20px;
        display: flex;
        align-items: center;
    }
    .checkmark {
        top: -2px;
        background: none;
    }
    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.submit-form {
    width: 100%;
    font-size: $pop-up-headline-mobile;
    @media (min-width: 992px) {
        width: auto;
        padding: 20px 30px;
    }
}

.form-comment {
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    height: 100px;
    color: #666;
    font-size: 14px;
    border-color: #CDCDCD;
    resize: none;
}