@import "reset";
@import "mixins";
@import "header";
@import "footer";
@import "libs/slick";
@import "pop-up";
@import "product-slider";
@import "cookies";


.collections {
    max-width: 1440px;
    padding: 5px;
    margin: 0 auto;
    padding: 10px 5px 5px;
    min-height: 100vh;

    @media (min-width: 1200px) {
        padding: 10px 15px 15px;
        min-height: calc(100vh - 263px);
    }
}

.collection-title {
    margin: 10px 0;
    font-weight: 700;
    font-size: 60px;
    text-align: center;

    @media (max-width: 991px) {
        margin-bottom: 0;
        font-size: 30px;
    }
}

.collections-row {
    margin-bottom: 40px;



    @media (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}


.collections-img {
    width: 100%;
    height: 320px;
    object-fit: contain;

    @media (min-width: 1200px) {
        width: 50%;
        max-width: 696px;
        height: 526px;
    }
}

.collections-info {
    width: 100%;
    padding: 26px 10px 10px 10px;

    @media (min-width: 1200px) {
        width: 50%;
        padding: 20px 79px 20px 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.collections-title {
    font-weight: bold;
    font-size: $product-name-title;
    line-height: 130%;
    margin-bottom: 10px;

    @media (min-width: 1200px) {
        font-size: $block-headline;
    }
}

.collections-descr {
    font-size: $normal;
    line-height: 160%;
    color: $text-description-color;
    margin-bottom: 20px;

    @media (min-width: 1200px) {
        margin-bottom: 23px;
    }
}

.collections-link {
    max-width: 151px;
    font-size: 14px;
    padding: 10px 15px;

    @media (min-width: 1200px) {
        padding: 14px 29px;
    }
}

.interest-title {
    display: block;
    margin-top: -10px;
    margin-bottom: 26px;
    font-weight: bold;
    font-size: $bigger;
    line-height: 130%;
    text-align: center;

    @media (min-width: 1200px) {
        font-size: $block-headline;
        line-height: 160%;
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

.interest {
    margin-bottom: 48px;
    padding: 0;


    @media (min-width: 1200px) {
        margin-bottom: 10px;
    }
}

.interest-slider {

    .top-slider-next, .top-slider-prev {
        .color-slider-arrow {
            color: #666666;
            font-size: 24px;
        }
    }

    .news-color-slider .slick-current:after {
        width: 80%;

        @media (min-width: 1200px) {
            width: 100%;
        }
    }

    .news-color-slider
    .color-slider-item {
        background-color: transparent;
        padding: 5px 2px;
        height: 55px;

        @media (min-width: 1200px) {
            background-color: $alabaster;
            padding: 0;
        }
    }

    .news-slider-next,
    .news-slider-prev {
        top: 116px;

        @media (min-width: 1200px) {
            top: 175px;
        }
    }

    .news-item {
        margin: 0 5px;

        @media (min-width: 1200px) {
            margin: 0 12px;
        }

        .new-item-footer {
            padding: 5px 34px;

            @media (min-width: 1200px) {
                padding: 22px 30px;
            }

            .footer-info {
                margin-bottom: 29px;

                @media (min-width: 1200px) {
                    margin-bottom: 9px;
                }
            }
        }
    }

    .news-item .img-wrapper {
        height: 230px;

        @media (min-width: 1200px) {
            height: 350px;
        }

        // .news-img {
        //     max-width: 265px;

        //     @media (min-width: 1200px) {
        //         max-width: 380px;
        //     }
        // }
    }

    .slick-center {
        width: 90%;
    }


    @media (min-width: 1200px) {
        padding-left: 5px;
    }
}