@import "reset";
@import "mixins";
@import "header";
@import "footer";
@import "libs/slick";
@import "pop-up";
@import "product-slider";
@import "cookies";


.products-title {
    display: block;
    font-weight: bold;
    font-size: $bigger;
    line-height: 160%;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: 992px) {
        font-size: $block-headline;
        margin-bottom: 10px;
    }
}

.products {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 0 39px;
    @media (min-width: 992px) {
        padding: 0 0 15px;
    }
}

.collection {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 0;

    @media (min-width: 992px) {
        padding: 10px 15px 50px;
    }
}

.collection-title {
    margin: 10px 0;
    font-weight: 700;
    font-size: 60px;
    text-align: center;

    @media (max-width: 991px) {
        margin-bottom: 0;
        font-size: 30px;
    }
}

.interest-slider {

    .top-slider-next, .top-slider-prev {
        .color-slider-arrow {
            color: #666666;
            font-size: 24px;
        }
    }

    .news-color-slider .slick-current:after {
        width: 80%;

        @media (min-width: 992px) {
            width: 100%;
        }
    }

    .news-color-slider
    .color-slider-item {
        background-color: transparent;
        padding: 5px 2px;
        height: 55px;

        @media (min-width: 992px) {
            background-color: $alabaster;
            padding: 0;
        }
    }

    .news-slider-next,
    .news-slider-prev {
        top: 116px;

        @media (min-width: 992px) {
            top: 175px;
        }
    }

    .news-item {
        margin: 0 5px;

        @media (min-width: 992px) {
            margin: 0 12px;
        }

        .new-item-footer {
            padding: 5px 34px;

            @media (min-width: 992px) {
                padding: 22px 30px;
            }

            .footer-info {
                margin-bottom: 29px;

                @media (min-width: 992px) {
                    margin-bottom: 9px;
                }
            }
        }
    }

    .news-item .img-wrapper {
        height: 230px;

        @media (min-width: 992px) {
            height: 350px;
        }

        .news-img {
            max-width: 265px;

            @media (min-width: 992px) {
                max-width: 100%;
            }
        }
    }

    .slick-center {
        width: 90%;
    }


    @media (min-width: 992px) {
        padding-left: 5px;
    }
}

.collection-image {
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
    padding: 0 5px;

    @media (min-width: 992px) {
        margin-bottom: 39px;
        padding: 0;
        height: 360px;
    }
}

.collection-title {
    font-weight: bold;
    font-size: $product-name-title;
    line-height: 130%;
    margin-bottom: 15px;
    padding: 0 20px 0 15px;

    @media (min-width: 992px) {
        font-size: $block-headline;
        line-height: 160%;
        margin-bottom: 2px;
        padding: 0;
        letter-spacing: 0.6px;
    }
}

.collection-par {
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: $text-description-color;
    margin-bottom: 23px;
    padding: 0 15px;

    @media (min-width: 992px) {
        padding: 0;
        letter-spacing: -0.1px;
    }

    @media (max-width: 991px) {
        p img {
            width: 100% !important;
            height: 100% !important;
        }
    }
}
.collection-par a {
    color: initial;
    text-decoration: underline;
}

.collection-content,
.collection-links {
    max-width: 933px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 5px;

    @media (min-width: 992px) {
        padding: 0;
    }
}

.collection-links {

    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }
}

.link-item {
    width: 100%;
    height: 224px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $block-headline-color;
    margin-bottom: 5px;

    @media (min-width: 768px) {
        height: 280px;
    }

    @media (min-width: 992px) {
        max-width: 456px;
        padding: 30px;
        margin-bottom: 0;
    }

    .h3-title {
        display: block;
        font-weight: bold;
        font-size: $big;
        line-height: 160%;
        color: #222;

        @media (min-width: 992px) {
            font-size: $bigger;
        }
    }

    span {
        font-size: 16px;
        line-height: 160%;
        color: $not-active-color;
    }
}

.collection-link {
    color: white;
    padding: 0;

    .link-title {
        padding: 15px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.7) 100%);
        display: block;

        @media (min-width: 992px) {
            padding: 0 30px 30px;
        }

        a {
            color: $white;
        }

        .h3-title {
            margin-bottom: 0;
            font-weight: bold;
            font-size: $big;
            line-height: 160%;
            color: $white;

            @media (min-width: 992px) {
                margin-bottom: 5px;
                font-size: $bigger;
            }
        }

        .link {
            display: none;

            @media (min-width: 992px) {
                display: block;
                font-size: $small;
                padding: 14px 29px;
            }
        }
    }

    span {
        color: white;
        display: block;
        font-size: $small;
        line-height: 130%;

        @media (min-width: 992px) {
            margin-bottom: 5px;
        }
    }

    h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 9px;

    }

    a {
        max-width: 151px;
    }
}

.collection-slider {
    padding-top: 15px;
    margin-bottom: 65px;

    @media (min-width: 992px) {
        padding-top: 20px;
        margin-bottom: 80px;
    }

    .slick-dots {
        bottom: -23px;

        @media (min-width: 992px) {
            bottom: -40px;
        }
    }

    .slider-item {
        width: 100%;
        height: 220px;

        @media (min-width: 568px) {
            height: 350px;
        }

        @media (min-width: 992px) {
            height: 550px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.collection-prev,
.collection-next {
    top: 52%;
}

.collection-date {
    font-size: 14px;
    line-height: 160%;
    color: $not-active-color;
    padding: 5px 15px 0;

    @media (min-width: 568px) {
        padding: 0;
    }
}

.fr-fic.fr-dib {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &.fr-fil {
        margin-left: 0;
        margin-right: auto;
    }

    &.fr-fir {
        margin-left: auto;
        margin-right: 0;
    }
}