@import "mixins";
@import "variables";
@import "reset";
@import "pop-up";
@import "header";
@import "libs/slick";
@import "cookies";

//----------------------------------- login section ----------------------------

body {
  overflow-y: scroll;
  padding-top: 80px;
  height: calc(100vh - 80px);

  @media (min-width: 992px) {
    overflow-y: auto;
    height: calc(100vh - 80px);
  }
}

.login-section {
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 80px); //header height
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  position: relative;
  margin: 0 auto;
}

.login-image {
  display: none;

  @media (min-width: 992px) {
    display: block;
    width: 100%;
    max-width: 759px;
    object-fit: cover;
    height: 100%;
  }
}

.login-block {
  width: 100%;
  z-index: 1;
  background-color: $white;
  position: relative;
  text-align: center;
  padding: 15px 15px 20px 15px;

  @media (min-width: 992px) {
    padding: 38px 30px 76px 30px;
  }

  @media (min-width: 1200px) {

    padding: 38px 149px 76px 105px;
  }
}

.reg-block {
  @media (min-width: 1200px) {
    padding: 0 149px;
  }

 
}
.login-block-wrapper {
  width: 100%;
  height: 100%;
  max-width: 427px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 30px 15px 60px;
  margin: 0 auto;

  @media (min-width: 992px) {
    // padding: 38px 0 76px;
    margin: 0;
    min-width: 380px;
  }
}

.reg-block-wrapper {
  padding: 50px 0 30px;

  @media (min-width: 992px) {
    padding: 60px 0 76px;
  }
}

.login-block-headline {
  @include block-headline;
}

.reg-title {
  font-size: 36px;
  line-height: 160%;
  margin-bottom: 8px;
}

.text-description {
  @include text-description;
  padding-right: 13px;
}

//------------------------------ social network list ----------------------------

.social-network-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;

  @media (min-width: 576px) {
    justify-content: space-between;
  }
}

.social-network-item {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin: 20px 7px;

  @media (min-width: 576px) {
    width: 32.5%;
    height: auto;
    margin: 20px 0;
  }
}

.login-network-link {
  width: 100%;
  font-weight: 700;
  font-size: $small;
  text-align: center;
  text-transform: uppercase;
  color: $block-headline-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray;
  padding: 15px 0;
  transition: $transition;

  &:hover {
    background-color: $not-active-color;
    color: $white;
  }

  span {
    display: none;

    @media (min-width: 576px) {
      display: block;
    }
  }
}

.network-icon {
  margin-right: 0;

  @media (min-width: 576px) {
    margin-right: 10px;
  }
}

//-------------------------------- or option -----------------------------------

.or-option {
  display: block;
  position: relative;
  margin-bottom: 18px;
  padding: 0;

  &:before,
  &:after {
    content: "";
    display: block;
    width: calc(50% - 50px);
    height: 1px;
    background-color: $or-option-line;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

//------------------------------------- Tabs -------------------------------------
.login-tabs-list {
  display: flex;
  margin-bottom: 15px;
}

.tab-link {
  width: 50%;
  font-size: $smaller;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $not-active-color;
  border-bottom: 1px solid $or-option-line;
  cursor: pointer;
  padding: 5px 0 11px;

  @media (min-width: 576px) {
    font-size: $small;
    padding: 15px 0;
  }
}

.tab-link.current {
  color: $block-headline-color;
  border-bottom: 2px solid $black;
}

.tab-content {
  display: none;
}

.tab-content.current {
  display: inherit;
}

.login-input {
  @include text-description;
  @include input-style;
}

.btn-style,
.confirmation {
  @include btn-style;
  width: 100%;
}

.btn-margin {
  margin-top: 10px;

  @media (min-width: 576px) {
    margin: 0;
  }
}

.register-phone-text {
  font-size: $small;
  line-height: 22px;
  text-align: left;
  padding: 15px 0 15px;

  @media (min-width: 576px) {
    font-size: $small;
    line-height: 26px;
    padding: 30px 0 9px;
  }
}

.remember-me-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;

  @media (min-width: 576px) {
    margin: 0 0 15px;
  }
}

.privacy-rules-block {
  margin: 10px 0 15px;

  @media (min-width: 576px) {
    margin: 0 0 20px;
  }
}

.privacy-rules-text {
  text-align: left;
}

.checkbox-label .privacy-rules-link {
  color: $black;
  text-decoration: underline;
}

.checkbox-label {
  font-size: $smaller;
  color: $not-active-color;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    position: relative;
    background-color: transparent;
    width: 100%;
    max-width: 15px;
    height: 15px;
    border: 1px solid $block-headline-color;
    margin-right: 12px;
    transition: background-color .3s linear;
  }
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked+.checkbox-label:before {
  background-color: $block-headline-color;
}

.checkbox-input:checked+.checkbox-label:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid $white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translate(-85%, -50%);
}

.forget-pass-link {
  font-weight: 700;
  font-size: $small;
  color: $block-headline-color;
}

//------------------------------------- Login alternative block -------------------------------
.login-alternative-block {
  padding-top: 30px;
  border-top: 1px solid $or-option-line;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

.alternative-block-description {
  font-size: $small;
  color: $text-description-color;
  margin-bottom: 15px;

  @media (min-width: 576px) {
    margin-bottom: 0;
  }

  @media (min-width: 992px) {
    padding-left: 5px;
  }
}

.alternative-block-link {
  display: inline-block;
  font-size: $small;
  font-weight: 700;
  text-transform: uppercase;
  color: $block-headline-color;
  padding: 17px 30px;
  border: 1px solid $text-description-color;
}