@import "reset";
@import "mixins";
@import "header";
@import "footer";
@import "libs/slick";
@import "icons";
@import "product-slider";
@import "pop-up";
@import "cookies";

// -------------------------Section main banners-------------------------

.container-main-banners {
  padding: 75px 5px 5px;

  @media (min-width: 992px) {
    padding: 90px 15px 10px;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 991px) {
    padding: 105px 15px 10px;
  }
}

.main-banner {
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 5px;

  @media (min-width: 992px) {
    width: 65%;
    // max-width: 700px;
    height: 650px;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    width: 100%;
    max-width: 933px;
  }

  .slick-dots {
    position: absolute;
    right: 5px;
    bottom: 15px;
    display: flex;
    left: auto;
    transform: none;

    @media (min-width: 992px) {
      right: 30px;
      bottom: 40px;
    }

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid $white;
      opacity: 0.8;
      cursor: pointer;
      background-color: transparent;
    }

    .slick-active {
      background-color: $white;
      opacity: 1;
    }
  }

  .banner-item {
    width: 100%;
    height: 100%;
    color: $white;
    position: relative;

    &-inner {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    img {
      width: 100%;
      height: auto;
    }

    &:after {
      content: "";
      display: block;
      top: 50%;
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.7) 100%);
    }
  }

  .slick-list,
  .slick-track {
    height: 100%;
  }
}

.main-banner:not(.slick-slider) .banner-item:not(:first-child) {
  display: none;
}

.main-banner-link {
  margin: 0 15px 15px;
  z-index: 1;
  max-width: 121px;
  font-size: 14px;
  padding: 10px 15px;

  @media (min-width: 992px) {
    max-width: 151px;
    margin: 22px 40px 70px;
    padding: 15px 29px;
  }
}

.main-banner-descr {
  font-size: $small;
  line-height: 30px;
  margin: 0 15px;
  z-index: 1;

  @media (min-width: 992px) {
    font-size: 20px;
    line-height: 22px;
    margin: 10px 40px 0;
  }
}

.main-banner-title {
  font-size: $product-name-title;
  font-weight: 600;
  line-height: 39px;
  margin: 0 15px;
  z-index: 1;

  @media (min-width: 992px) {
    font-size: $main-title-banner;
    line-height: 44px;
    margin: 0 40px;
    letter-spacing: 1.5px;
  }
}

// -------------small banners------------------
.small-banners {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (min-width: 992px) {
    height: 650px;
    max-width: 467px;
    flex-direction: column;
    margin-left: 10px;
  }

  .small-banner-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    &:first-child {
      margin-right: 5px;
    }

    @media (min-width: 992px) {
      height: 49%;

      &:first-child {
        margin-right: 0;
      }
    }

    &:after {
      content: "";
      display: block;
      top: 50%;
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.7) 100%);
    }
  }

  .banner-title {
    font-size: $small;
    position: absolute;
    padding: 15px 15px;
    z-index: 1;
    color: $white;
    font-weight: bold;

    @media (min-width: 992px) {
      padding: 20px 30px;
    }

    @media (max-width: 991px) {
      font-size: 10px;
    }

    .model-item {
      font-size: 10px;
      display: block;

      @media (min-width: 992px) {
        font-size: $bigger;
        line-height: 48px;
      }
    }
  }
}

// --------------------------------Banners section--------------------

.banners-wrapper {
  padding: 50px 5px;

  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-between;
    padding: 50px 15px;
  }
}

.bannes-top {
  display: flex;
}

.banners-left {
  width: 100%;
  margin-bottom: 5px;

  @media (min-width: 1100px) {
    max-width: 944px;
    margin-bottom: 0;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .banner-top {
    padding: 0 5px 0 15px;
  }
}

.banner-top-item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 1100px) {
    margin-bottom: 10px;
  }
}

.h3-title {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

.banners-title {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: $white;
  font-size: $pop-up-headline-mobile;
  line-height: 48px;
  font-weight: bold;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.7) 100%);
  transition: 0.4s all;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  @media (min-width: 1100px) {
    opacity: 0;
    font-size: $product-name-title;
    line-height: 48px;
    padding: 30px;
  }

  .h3-title {
    font-size: inherit;
  }

  span:not(.h3-title) {
    display: none;

    @media (min-width: 1100px) {
      font-size: $small;
      display: block;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

@media (min-width: 1100px) {
  .banner-show-title:hover .banners-title {
    opacity: 1;
  }
}

.banners-left .banners-bottom img {
  object-fit: cover;
}

.banners-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  .banner-bottom-item {
    width: calc(50% - 2.5px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    @media (min-width: 1100px) {
      width: calc(50% - 5px);
    }
  }
}

.banners-right {
  width: 100%;

  @media (min-width: 1100px) {
    max-width: 456px;
  }

  .banner-top-item-size {
    width: 100%;

    @media (min-width: 1100px) {
      height: 540px;
    }
  }

  .banner-bottom-item-size {
    width: 100%;
    margin-bottom: 0;
  }

  .banner-title-cat {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: $block-headline-color;
    padding: 41px 17px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    @media (min-width: 1100px) {
      font-size: $product-name-title;
      line-height: 42px;
      padding: 20px 30px;
    }

    .h3-title {
      font-size: inherit;
    }

    span:not(.h3-title) {
      font-size: $normal;
      line-height: 26px;
      font-weight: normal;
      color: $not-active-color;
    }
  }
}

// -----------------------------Section info-------------------------------
.info {
  .info-item-row:nth-child(even) {
    flex-direction: row-reverse;

    .info-item-img {
      @media (min-width: 992px) {
        margin-right: 0;
        margin-left: 20px;
      }
    }

    .info-item-descr {
      background-color: $banner-bg-cyan;
    }
  }
}

.info-item-row {
  margin-bottom: 5px;

  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .info-item-img {
    width: 100%;

    @media (min-width: 992px) {
      max-width: 576px;
      margin-right: 20px;
    }
  }

  .info-item-descr {
    width: 100%;
    height: auto;
    padding: 30px 40px 35px;
    background-color: $banner-bg-yellow;
    overflow: hidden;

    @media (min-width: 992px) {
      max-width: 814px;
      height: 526px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    @media (min-width: 1200px) {
      max-width: 814px;
      height: 526px;
      padding: 50px 150px;
    }

    .info-title {
      font-weight: bold;
      font-size: $bigger;
      line-height: 48px;
      margin-bottom: 16px;
      margin-top: 4px;

      @media (min-width: 992px) {
        font-size: $block-headline;
        line-height: 62px;
      }
    }

    .info-descr {
      font-size: $normal;
      line-height: 26px;
      color: $text-description-color;
      margin-bottom: 15px;

      @media (min-width: 992px) {
        margin-bottom: 38px;
      }
    }

    .info-link {
      font-size: 14px;
      padding: 10px 15px;

      @media (min-width: 992px) {
        padding: 15px 30px;
      }
    }
  }
}
