@import "reset";
@import "mixins";
@import "header";
@import "footer";
@import "libs/slick";
@import "cookies";


.privacy {
    background-color: $wild-sand;
    padding: 100px 15px 30px;
    min-height: 100vh;

    @media (min-width: 992px) {
        padding: 120px 0 80px;
        min-height: calc(100vh - 263px);
    }

    * {
        max-width: 934px;
        margin: 0 auto;
    }
}

.privacy-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 160%;
    margin-bottom: 4px;

    @media (min-width: 992px) {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 10px;
    }
}

.privacy-par {
    font-size: 14px;
    line-height: 160%;
    color: $text-description-color;
    margin-bottom: 7px;
    letter-spacing: -0.1px;

    @media (min-width: 992px) {
        margin-bottom: 20px;
    }
}


.privacy-subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 160%;
    color: $text-description-color;
    margin-bottom: 11px;
    padding-top: 10px;

    @media (min-width: 992px) {
        margin-bottom: 20px;
    }
}

.privacy-list {
    
    @media (min-width: 992px) {
        padding-left: 28px;
    }

    .privacy-list-item  {
        font-size: 14px;
        line-height: 160%;
        color: $text-description-color;
        margin-bottom: 10px;
        display: flex;
        &:before {
            content: '\2022';
            margin-right: 10px;
            display: block;
            font-size: 20px;
        }
    }
}

