@import "mixins";
@import "variables";
@import "reset";
@import "pop-up";
@import "header";
@import "footer";
@import "libs/slick";
@import "icons";
@import "product-slider";
@import "cookies";

.product-card-section {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  // padding-top: 90px;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    // padding-top: 110px;
  }
}

//----------------------------------------  Product card section  -----------------------
//----------------------------------------  Product gallery  ----------------------------

.product-gallery-block {
  width: 100%;
  padding: 5px;
  position: relative;

  & > div:not(.slick-initialized) {
    display: none;
  }

  @media (min-width: 992px) {
    width: 48%;
    padding: 15px 0 15px 15px;
  }

  @media (min-width: 1200px) {
    width: 100%;
    max-width: 713px;
  }

  .mobile-icons-block {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;

    @media (min-width: 992px) {
      display: none;
    }

    .sales-hit {
      font-weight: 700;
      font-size: $smaller;
      line-height: 19px;
      color: $white;
      background-color: $red;
      text-transform: uppercase;
      padding: 0 5px;
    }
  }

  .slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: auto;
    left: auto;
    transform: translateX(0);

    li {
      width: 96px;
      height: 57px;
      background-color: $white;
      box-sizing: border-box;
      // padding: 10px 12px;
      margin: 0 3px;
      cursor: pointer;
      border-radius: 0;
      border: none;

      @media (min-width: 768px) {
        width: 170px;
        height: 96px;
        // padding: 13px 11px;
        // background-color: $wild-sand;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .tab {
        width: 100%;
        opacity: 0.5;
      }
    }

    .slick-active {
      border-bottom: 5px solid $yellow;

      .tab {
        opacity: 1;
      }
    }
  }

  .slick-list {
    // background-color: $wild-sand;
    // padding: 64px 70px;
    margin-bottom: 8px;
    height: 240px;

    @media (min-width: 550px) {
      height: 310px;
    }

    @media (min-width: 992px) {
      // padding: 120px 70px;
      height: 506px;
    }

    .slick-slide {
      width: 100%;
      height: 240px;
      object-fit: cover;

      @media (min-width: 550px) {
        height: 310px;
      }

      @media (min-width: 992px) {
        height: 506px;
      }
    }
  }
}

.available {
  .slick-list {
    // opacity: .5;
  }

  .not-available-label {
    position: absolute;
    top: 5px;
    left: 15px;

    @media (min-width: 768px) {
      top: 20px;
    }

    .not-available,
    .on-order {
      display: block;
      font-weight: 700;
      font-size: $smaller;
      line-height: 19px;
      text-transform: uppercase;
      color: $white;
      background-color: $on-order;
      padding: 0 7px;
    }

    .not-available {
      margin-bottom: 10px;
      background-color: $available-color;

      @media (min-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }
}

//----------------------------------------  Product description  ----------------------------
.product-description-block {
  width: 100%;

  @media (min-width: 992px) {
    width: 52%;
    padding: 2px 20px 0 20px;
  }

  @media (min-width: 1200px) {
    padding: 2px 75px 0 77px;
  }
}

.first-part-description {
  padding: 25px 15px 30px;

  @media (min-width: 992px) {
    padding: 0;
  }
}

.like-share-block {
  display: flex;
  align-items: center;
}

.icons-block-list {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desktop-icons-block {
  display: none;

  @media (min-width: 992px) {
    display: flex;
    margin-right: -10px;
  }
}

.icons-block-item {
  position: relative;

  .share-list {
    display: none;
    background-color: $white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 103%;
    right: 5px;
  }

  .share-link {
    width: 150px;
    display: inline-block;
    color: $text-description-color;
    padding: 7px 0 7px 15px;
    transition: $transition;

    &:hover {
      color: $white;
      background-color: $block-headline-color;
    }
  }
}

.polarized {
  @include polarized;
}

.icons-block-btn {
  @include btn-base;
  padding: 13px 10px;
  box-sizing: border-box;
  transition: $transition;

  &:hover {
    background-color: $icon-hover;
  }
}

.product-name-title {
  font-weight: 700;
  font-size: $pop-up-headline;
  line-height: 34px;
  color: $text-description-color;
  padding: 15px 0 20px;

  @media (min-width: 992px) {
    font-size: $product-name-title;
    padding: 12px 0;
    margin-bottom: 20px;
  }
}

.description,
.color-selection {
  @include btn-base;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $input-border;
  padding: 17px 15px;
  margin-bottom: 15px;

  .description-btn-title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $block-headline-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 576px) {
      display: inline-block;
    }

    .description-btn-text {
      font-weight: normal;
      color: $not-active-color;
      text-transform: none;
      font-size: 16px;

      @media (min-width: 576px) {
        padding-left: 20px;
      }
    }
  }
}

.revers-block {
  display: flex;
  flex-direction: column;
}

.basket-block {
  order: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 0;

  @media (min-width: 576px) {
    justify-content: flex-start;
  }

  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    order: 0;
    padding: 0 0 30px;
  }
}

.price {
  @include price;
  font-size: $pop-up-headline-mobile;
  display: none;
  white-space: nowrap;

  @media (min-width: 992px) {
    display: block;
    padding-top: 6px;
  }
}

.mobile-price {
  height: 52px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: stretch;

  @media (min-width: 992px) {
    display: none;
  }

  .mobile-price-image {
    display: none;
    width: 110px;
    height: 100%;
    background-color: $wild-sand;

    img {
      height: 100%;
    }
  }

  .mobile-price-range {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;

    .last-price {
      font-weight: 700;
      font-size: $small;
      text-decoration-line: line-through;
      color: rgba(34, 34, 34, 0.3);
    }

    .new-price {
      font-weight: 700;
      font-size: $pop-up-headline-mobile;
      color: $block-headline-color;

      span {
        font-weight: normal;
        font-size: $small;
        color: $not-active-color;
      }
    }
  }
}

.empty-pop-up,
.delivery-pop-up,
.special-pop-up {
  display: none;

  .discount-window form .form-inputs-wrap .input-item {
    margin-bottom: 21px;
  }

  .discount-title {
    margin-top: 5px;
    line-height: 38px;
    letter-spacing: 0.2px;
  }

  .discount-description {
    color: #444;
    font-size: 14px;
    line-height: 22px;
  }

  .contact-btns {
    margin-bottom: 0;
  }

  .discount-window form {
    top: 0;
  }

  .pop-up-window {
    padding: 50px;

    @media (max-width: 767px) {
      padding: 20px;
    }
  }

  .modal-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 284px;

    .discount-description {
      max-width: 245px;
    }

    @media (max-width: 767px) {
      margin-bottom: 30px;
      height: auto;
    }
  }

  .discount-window .contact-btns .submit-btn {
    @media (max-width: 767px) {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  .modal-right {
    padding: 0;
    width: 100%;

    .discount-description {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
}

.delivery-pop-up, .special-pop-up {
  .pop-up-window {
    top: 50%;
  }
  @media (max-width: 767px) {
    .pop-up-window {
      padding-top: 50px;
    }
  }

  &.opened {
    display: flex;
    align-items: baseline;
  }
  .pop-up-window {
    max-height: 78vh;
    overflow: hidden;
  }
  .modal-content {
    overflow-y: auto;
    width:100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 10px;
  }
  ul,
  ol {
    margin-bottom: 10px;
  }
  li {
    padding-left: 15px;
    position: relative;
    line-height: 24px;
  }
  ul li {
    &:before {
      content: "•";
      position: absolute;
      left: 0;
    }
  }
  ol {
    counter-reset: list;
    li {
      &:before {
        counter-increment: list;
        content: counter(list) ".";
        position: absolute;
        left: 0;
      }
    }
  }
  img {
    margin-bottom: 10px;
    max-width: 100%;
  }
  blockquote {
    margin: 0 0 10px;
    p:before {
      content: "\201C";
    }
    p:after {
      content: "\201D";
    }
  }
  table {
    margin-bottom: 10px;
  }
  th, td {
    padding: 3px;
    border: 1px solid #222;
  }
  a {
    color: #0000ee;
  }
}

.product-basket-btn {
  @include btn-base;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  background-color: $block-headline-color;
  display: flex;
  align-items: center;
  padding: 16px 30px;
  transition: $transition;
  font-size: 16px;

  @media (min-width: 576px) {
    margin-left: 40px;
  }

  &.empty-btn {
    margin-left: 0;
    color: #222;
    background: none;
    border: 1px solid #444;

    @media (max-width: 991px) {
      margin-left: 10px;
      margin-bottom: 40px;
    }
  }

  &:hover {
    background-color: $not-active-color;
  }

  img {
    margin-left: 15px;
  }
}

.delivery-block {
  display: flex;
  align-items: center;
  color: $text-description-color;
  padding: 30px 0 0;
  margin: 0 15px;
  border-top: 1px solid $border-color;

  @media (min-width: 992px) {
    padding: 30px 0 45px 0;
    margin: 0;
  }

  @media (max-width: 991px) {
    margin-bottom: 30px;
  }

  img {
    margin-right: 30px;
  }

  .delivery-title {
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 8px;
  }

  .delivery-text {
    font-size: $small;
  }

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.special-offer-block {
  order: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $offer-block-color;
  padding-left: 30px;
  cursor: pointer;

  @media (min-width: 992px) {
    order: 0;
  }

  .offer-title {
    font-size: $smaller;
    text-transform: uppercase;
  }

  .offer-text,
  .offer-text p {
    font-weight: 700;
  }
}

//--------------------------------------  Product responses section  -----------------------
.responses-section {
  width: 100%;
  max-width: 1440px;
  padding: 50px 0;
  margin: 0 auto;

  @media (min-width: 992px) {
    padding: 58px 0 28px;
  }
}

//--------------------------------------  Responses slider  -----------------------
.responses-wrapper {
  width: 100%;
  max-width: 934px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 992px) {
    padding: 0;
  }
}

.responses-mobile-headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (min-width: 576px) {
    display: block;
  }
}

.responses-title {
  display: block;
  font-weight: 700;
  font-size: $pop-up-headline;
  line-height: 38px;
  text-transform: capitalize;

  @media (min-width: 576px) {
    padding-bottom: 15px;
  }

  @media (min-width: 992px) {
    font-size: $product-name-title;
    line-height: 48px;
  }
}

.comment-rating {
  @include price;
  font-size: $pop-up-headline;

  .price-title {
    font-size: 14px;
    padding-right: 15px;
  }
}

.responses-slider-item {
  padding: 0 15px;
  margin-top: 15px;
}

.responses-content-wrapper {
  width: 100%;
  max-width: 934px;
  background-color: $alabaster;
  padding: 20px 20px 15px;
  margin: 0 auto;

  @media (min-width: 992px) {
    padding: 50px 120px 30px;
  }
}

.responses-author-block {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
}

.responses-text {
  font-size: $small;

  @media (min-width: 992px) {
    font-size: 14px;
  }
}

.more-text {
  display: none;

  @media (min-width: 992px) {
    display: inline;
  }
}

.read-more-btn {
  @include btn-base;
  font-weight: 700;
  font-size: $small;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: 992px) {
    display: none;
  }
}

.stars-block {
  display: flex;
  align-items: center;
}

.star-style {
  display: inline-block;
  font-size: 30px;
  color: $not-active-star;
}

.stars-block-title {
  @include text-description;
  padding: 0 20px 0 0;
}

.active-star {
  color: $active-star;
}

.author-name {
  font-weight: 700;
  font-size: $small;
  line-height: 22px;
  color: $text-description-color;

  time {
    &:before {
      content: " | ";
    }
  }
}

.slider-arrows-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.slider-btn {
  @include btn-base;
  width: 25px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: $transition;
  position: absolute;
  top: 120px;
  transform: translateY(-50%);
  z-index: 9;

  @media (min-width: 992px) {
    top: 180px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.comment-slider-prev {
  left: 5px;
}

.comment-slider-next {
  right: 5px;
}

.slider-arrow {
  font-size: 17px;
  color: $white;

  &:hover {
    color: $white;
  }
}

//--------------------------------------  leave comment block -----------------------

.leave-comment-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
  display: none;

  @media (min-width: 992px) {
    padding: 0 5px;
  }
}

.comment-input,
.comment-textarea {
  @include input-style;
  line-height: 1;
  font-size: 14px;
  padding: 20px 15px;
}

.comment-textarea {
  resize: none;
  height: 133px;
  margin-bottom: 16px;
}

.comment-submit-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.comment-submit-btn,
.comment-mobile-btn {
  @include btn-base;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  background-color: $block-headline-color;
  padding: 16px 30px;
  transition: $transition;

  &:hover {
    background-color: $not-active-color;
  }
}

.comment-submit-btn {
  margin-top: 15px;

  @media (min-width: 768px) {
    margin-top: 0;
    font-size: 16px;
  }
}

.responses-slider {
  margin-bottom: 30px;
}

.comment-mobile-btn {
  font-size: $normal;
  display: block;
  margin: 0 auto;
  transition: none;

  @keyframes scale-up-ver-bottom {
    0% {
      transform: scaleY(0.4);
      transform-origin: 0 100%;
    }

    100% {
      transform: scaleY(1);
      transform-origin: 0 100%;
    }
  }
}

//--------------------------------------  ratting stars style -----------------------
.rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: -8px;
}

.rating > input {
  display: none;
}

.rating > label:before {
  // margin-top: 2px;
  font-size: 30px;
  font-family: untitled-font-1, sans-serif;
  display: inline-block;
  content: "\66";
}

.rating > label {
  color: $not-active-star;
  border-radius: 15px;
  height: 25px;
  margin-right: 5px;
}

.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
  color: $active-star !important;
  cursor: pointer;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
  color: $active-star !important;
  cursor: pointer;
}

// ------------------------------Section news--------------------------
.product-page-hits {
  padding: 0 0 50px;
  margin-bottom: 0;

  @media (min-width: 992px) {
    padding: 40px 0;
    margin-bottom: 28px;
  }
}

.final-description {
  width: 100%;
  max-width: 934px;
  margin: 0 auto;
  @include text-description;
  font-size: $small;
  line-height: 22px;
  padding: 0 15px;

  @media (min-width: 992px) {
    padding: 0;
  }
}

.new-item-footer .footer-info,
.new-item-footer .footer-color {
  @media (max-width: 992px) {
    justify-content: center;
    text-align: center;

    .type {
      margin-right: 0;
    }
  }
}

.smaller-title {
  text-transform: none;
}

.sale-product {
  font-weight: 700;
  font-size: $smaller;
  line-height: 19px;
  text-transform: uppercase;
  color: $white;
  background-color: $sale-color;
  padding: 0 7px;
  position: absolute;
  top: 5px;
  left: 15;

  @media (min-width: 992px) {
    top: 35px;
  }
}

.empty-prod.product-gallery-block .slick-list {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    opacity: 0.7;
  }
}

.product-label {
  position: absolute;
  top: 40px;
  right: 5px;

  @media (max-width: 991px) {
    right: auto;
    left: 5px;
    top: 15px;
  }
}

.not-available {
  padding: 5px 5px 3px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  background: #d5d5d5;
}
