@import "profile-main";
@import "cookies";

//------------------Profile orders page style------------

.bg-orders-nav-column {
    background: $alabaster;

    @media (min-width: 992px) {
        background: $alabaster url(../img/icons/box.svg) no-repeat bottom 18px right;
    }
}

.orders-title {
    margin-bottom: 9px;

    @media (min-width: 992px) {
        margin-bottom: 0;
    }
}

.d-lg-block {
    @media (min-width: 992px) {
        display: block;
    }
}

.orders-table {
    width: 100%;

  

    .thead {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $or-option-line;

        .th {
            padding: 6px 0;
            font-size: 14px;
            line-height: 160%;
            color: $not-active-color;
            display: flex;
            align-items: center;
           
            @media (min-width: 992px) {
                padding: 24px 0 18px;
                width: 15%;
                min-width: 100px;
             }

            button {
                @include btn-base;
                padding: 4px 0 0 5px;

                .icon-angle-down {
                    color: $black;
                    cursor: pointer;
                    font-size: 17px;
                }
            }
            .condition {
                display: none;

                @media (min-width: 992px) {
                    display: block;
                 }
            }

            .more {

                @media (min-width: 992px) {
                   display: none;
                }
            }
        }
        .th-info {
            width: 36%;
        }

        .th-number {

            width: 30%;

            @media (min-width: 992px) {
                width: 13%;
            }
       
        }
    }

    .tbody {

        .tr {
            padding: 20px 0;
            border-bottom: 1px solid $or-option-line;

            @media (min-width: 992px) {
                padding: 28px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        
        .info-mob-wrap {
            display: none;
            margin-top: 20px;
            @media (min-width: 992px) {
                width: 86%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 0;
            }
        }

        .td {
            color: $text-description-color;
            font-size: 16px;
            

            @media (min-width: 992px) {
                width: 15%;
            }
            
            .product-items {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                @media (min-width: 992px) {
                    display: flex;
                    align-items: center;
                }
                span {
                    display: inline-block;
                }

                .type {
                    font-size: $pop-up-headline-mobile;
                    line-height: 21px;
                    color: $text-description-color;
                    display: block;
                    margin-bottom: 10px;
                    @media (min-width: 992px) {
                        display: inline;
                        margin-bottom: 0;
                    }
                }

                .color {
                    font-size: 14px;
                    line-height: 160%;
                    color: $not-active-color;
                    margin-bottom: 10px;

                    @media (min-width: 992px) {
                        margin-left: 30px;
                        margin-bottom: 0;
                    }
                }
            }
       
        }

        .status-mob-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (min-width: 992px) {
                width: 57%;
            }

            .td {
                @media (min-width: 992px) {
                    width: 28%;
                }
            }
        }

        .product-items-wrap {
            @media (min-width: 992px) {
                width: 45%;
            }
        }

        .order-number {
            font-weight: bold;
            font-size: 16px;
            line-height: 160%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            // margin-bottom: 20px;

            .icon-angle-right {
                transition: $transition;
            }

            @media (min-width: 992px) {
                width: 13%;
                margin-bottom: 0;

                .icon-angle-right {
                    display: none;
                }
            }
        }

        .price {
            @include price;
        }
    }
}

.active-dropdown {
    transform: rotate(90deg);
}
