
@import "libs/slick";
@import "product-slider";
@import "catalog";
@import "profile-main";
@import "cookies";

//------------------Profile favorites page style------------

.content-column {
  padding: 0 5px;
}

.bg-favorites-nav-column {
  background: $alabaster;

  @media (min-width: 992px) {
    background: $alabaster url(../img/icons/heart-bg.svg) no-repeat bottom right;
  }
}

.favorite-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .favorite-title {
    margin-bottom: 0;
    margin-left: 10px;

    @media (min-width: 992px) {
      margin-left: 26px;
    }
  }
}

.favorites-content-column {

  padding-right: 0;

  @media (min-width: 1300px) {
    padding-left: 20px;
    padding-top: 39px;

  }
}


.news-item:hover .news-img {
  opacity: 1;
}

.news-item:hover .footer-color {
  opacity: 1;
}


.favorites-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px 41px;

  .favorites-item {
      margin: 0 7px;
      width: calc(50% - 14px);

    .img-wrapper {
      height: 140px;

      @media (min-width: 576px) {
        height: 350px;
      }
    }

    .footer-info {
      display: block;
      text-align: center;

      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        text-align: left;
      }
    }
  }
}

.new-item-footer {
  padding: 0 29px 15px 30px;

  @media (min-width: 992px) {
    padding: 19px 29px 15px 30px;
  }
}

.favorite-btn-icon {
  @include btn-base;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
}

.basket-all {
  margin-right: 5px;
  padding: 10px;
  font-size: 12px;

  .basket-white,
  .basket-black {
    display: none;
  }


  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    height: 52px;
    padding: 10px 15px;
    font-size: 14px;
   

    .basket-black {
      display: inline;
    }
    .basket-white {
      display: none;
    }
  
    &:hover .basket-black {
      display: none;
    }
    &:hover .basket-white {
      display: block;
      margin-bottom: 5px;
    }
  }

  img {
    margin-left: 10px;
  }
}

.basket-item-add {
  width: 100%;
  display: none;
  margin-bottom: 29px;
  max-width: 394px;
  margin: 0 auto 29px;

  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    margin-left: 19px;
  }
}

.news-item .specific-product {
  bottom: 14px;
  left: 10px;

  @media (min-width: 992px) {
    bottom: 27px;
    left: 26px;
  }
}