@import "profile-main";
@import "cookies";

.bg-mailinigs-nav-column {
  background: $alabaster;

  @media (min-width: 992px) {
    background: $alabaster url(../img/icons/letter.svg) no-repeat bottom 30px right;
  }
}

.mailings-form {
  padding-left: 3px;
}

.mailings-item {
  margin-bottom: 20px;

  @media (min-width: 992px) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 10px;
  }

  .checkbox-label {
    font-size: $normal;
    color: $text-description-color;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      position: relative;
      background-color: transparent;
      width: 100%;
      max-width: 15px;
      height: 15px;
      border: 1px solid $block-headline-color;
      margin-right: 12px;
      transition: background-color .3s linear;
      box-sizing: border-box;
    }
  }

  .checkbox-input {
    display: none;
  }

  .checkbox-input:checked+.checkbox-label:before {
    background-color: $block-headline-color;
  }

  .checkbox-input:checked+.checkbox-label:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-85%, -50%);
  }


  .checkbox-label {
    align-items: flex-start;
    color: $not-active-color;
    font-size: 14px;
    line-height: 160%;
  }

  .checkbox-input:checked+.checkbox-label:after {
    top: 10px;
  }

  .checkbox-input+.checkbox-label:before {
    margin-top: 2px;
  }
}

.submit-form {
  width: 100%;

  @media (min-width: 992px) {
    width: auto;
    margin-top: -20px;
  }
}