@import "profile-main";
@import "form-inputs";
@import "cookies";

//------------------Profile address page style------------

.bg-address-nav-column {
    background: $alabaster;

    @media (min-width: 992px) {
        background: $alabaster url(../img/icons/house.svg) no-repeat bottom 18px right;
    }

}



