@import "profile-main";
@import "form-inputs";
@import "cookies";

.bg-personal-nav-column {
    background: $alabaster;

    @media (min-width: 992px) {
        background: $alabaster url(../img/icons/personal.svg) no-repeat bottom right;
    }
}

.personal-info-form {
    margin-bottom: 50px;
    
    @media (min-width: 992px) {
        margin-bottom: 70px;
    }
}


.date-inputs-row {
    width: 100%;
    display: block;

    @media (min-width: 1400px) {
        display: flex; 
    }

    .date-gender-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        @media (min-width: 992px) {
            margin-bottom: 20px;
        }

        @media (min-width: 1400px) {
            width: 50%; 
            max-width: 427px; 
        }


        span {
            white-space: nowrap;
            letter-spacing: -1px;
            margin-right: 9px;
        }

        .gender {
            margin-right: 0;
        }

        .form-dropdown {
            margin-bottom: 0;
            margin-left: 11px;
        }

        .gender-dropdown {
            width: 100%;
            margin-left: 25px;
        }

        .dropdown-title {
            span {
                margin-right: 0;
            }
        }
    }

    .date-gender-wrap-none {
        display: none;
        @media (min-width: 992px) {
            display: flex; 
        }
    }

    .gender-select {
        font-weight: bold;
        font-size: 14px;
        line-height: 160%;
        text-transform: uppercase;
    }
}
