@import "profile-main";
@import "cookies";


//------------------Profile address page style------------

.bg-bonus-nav-column {
    background: $alabaster;

    @media (min-width: 992px) {
        background: $alabaster url(../img/icons/bonus.svg) no-repeat bottom 30px right;
    }
}

.content-title {
    margin-bottom: 7px;

    @media (min-width: 992px) {
        margin-bottom: 20px;
    }
}

.bonus-item {

    background-color: $alabaster;
    width: 100%;
    margin-bottom: 35px;

    @media (min-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 33px;
        margin-bottom: 15px;
    }

    .use-btn-mar {
        margin-left: 15px;

        @media (min-width: 992px) {
            margin-left: 0;
        }
    }

    .use-btn {
        min-width: 130px;
        max-width: 150px;
        padding: 10px 0;
        display: block;
        font-size: 14px;
        height: 42px;

        @media (min-width: 992px) {
            min-width: 178px;
            height: 52px;
            font-size: 16px;
            padding: 14px 0;
        }
    }
}

.bonus-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 180px;

    @media (min-width: 768px) {
        max-height: 280px;
    }

    @media (min-width: 992px) {
        margin-right: 30px;
        max-width: 189px;
        max-height: none;
    }
}

.bonus-info {
    padding: 15px;

    @media (min-width: 992px) {
        padding: 0;
        margin-top: 5px;
    }
}

.bonus-descr {
    font-size: 14px;
    line-height: 160%;
    color: $text-description-color;

    @media (min-width: 992px) {
        margin-right: 30px;
    }
}

.bonus-descr-mar {
    margin-right: 0;
    margin-bottom: 13px;
}

.bonus-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.bonus-promo {


    @media (min-width: 1300px) {
        display: flex;
        align-items: center;
    }

    label {
        font-size: 14px;
        line-height: 160%;
        color: $text-description-color;
        margin-right: 15px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }

    input {
        border: 1px solid #CDCDCD;
        font-weight: bold;
        font-size: 14px;
        line-height: 160%;
        text-transform: uppercase;
        padding: 15px 8px 15px 15px;
        width: 100%;
        background-color: $alabaster;
        height: 42px;

        @media (min-width: 992px) {
            height: 52px;
        }
    }
}

.bonus-input-wrap {
    display: flex;
    margin-top: 5px;
    width: 100%;
}