@import "reset";
@import "mixins";
@import "header";
@import "footer";
@import "libs/slick";
@import "pop-up";
@import "cookies";




.technology,
.banners {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 5px 5px 0;

    @media (min-width: 992px) {
       padding: 17px 17px 0;
    }
}

.technology {

    padding: 10px 5px 5px;

    @media (min-width: 992px) {
        padding: 10px 17px 0;
    }
}

.top-banner {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    @media (min-width: 992px) {
        height: 369px;
        margin-bottom: 13px;
    }
}

.video-btn {
    max-width: 239px;
    padding: 11px 15px;
    font-size: $small;
    line-height: 18px;

    @media (min-width: 992px) {
        margin-bottom: 4px;
        font-size: $normal;
        padding: 16px 30px;
    }
}

.technology-title {
    font-weight: bold;
    font-size: $bigger;
    line-height: 130%;
    color: $white;
    margin-bottom: 14px;

    @media (min-width: 992px) {
        font-weight: bold;
        font-size: $h1;
        margin-bottom: 10px;
        letter-spacing: 3px;
        margin-left: 11px;
    }
}


// ------------------Banners section---------------

.banners {
    padding-top: 0;
    margin-bottom: 15px;

    @media (min-width: 992px) {
        margin-bottom: 0;
    }
}

.banners-row {

    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        &:nth-child(even) {
            flex-direction: row-reverse;

            .technologe-img  {
                width: 691px;
            }

            .technologe-info {
                padding: 10px 55px 19px 86px;
            }
        }


    }
}

.technologe-img {
    object-fit: cover;

    @media (min-width: 768px) {
        height: 400px;
    }
}

.technologe-img,
.technologe-info {
    width: 100%;
    height: 276px;

    @media (min-width: 992px) {
        height: 528px;
        width: 50%;
        max-width: 696px;
    }
}

.technologe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 10px;
    height: auto;

    @media (min-width: 992px) {
        height: 528px;
        padding: 10px 57px 10px 86px;
    }
}

.technology-item-title {
    font-weight: bold;
    font-size: $pop-up-headline-mobile;
    line-height: 130%;
    margin-bottom: 10px;

    @media (min-width: 992px) {
        font-size: $block-headline;
    }
}

.technology-item-descr {
    font-size: 16px;
    line-height: 160%;
    color: $text-description-color;

    @media (min-width: 992px) {
        padding-bottom: 0px;
        margin-bottom: 24px;
    }
}


// -------------------Banner bottom section------------------

.bottom-banner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5px 5px;

    @media (min-width: 992px) {
        padding: 0 15px 10px;
    }
}

.banner-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 320px;
    color: $white;

    @media (min-width: 568px) {
        height: 450px;
    }

    @media (min-width: 992px) {
        height: 650px;
    }

    .banner-info {
        padding: 5px 15px 15px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.7) 100%);

        @media (min-width: 992px) {
            padding: 44px 50px 70px;
        }

        .banner-title {
            font-weight: bold;
            font-size: $bigger;
            line-height: 130%;


            @media (min-width: 992px) {
                font-size: $h1;
                letter-spacing: 1.5px;
            }
        }

        .banner-descr {
            font-size: $small;
            line-height: 160%;
            margin-bottom: 15px;

            @media (min-width: 992px) {
                font-size: $big;
                letter-spacing: 0.2px;
            }
        }

    }
}

.banner-link {
    padding: 10px 15px;
    font-size: $small;
    background: rgba(0, 0, 0, 0.3);

    @media (min-width: 992px) {
        padding: 15px 30px;
    }
}

//------------------------Video modal---------------------

.video-modal-wrap {
    display: none;
}

.video-modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;

    .iframe {
        width: 90%;
        height: 90%;
        max-height: 500px;

        @media (min-width: 992px) {
            width: 800px;
            height: 500px;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}